html,body 			{ margin:0; padding:0; height:100%; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; background:url(img/login-bg.png) repeat-x top; }


.content			{ width:716px; height:484px; background:url(img/login-area-bg.png) no-repeat top center; margin:0 auto; }


.inputs				{ position:absolute; top:252px; left:50%; margin-left:-142px; width:275px; }


.inputs .input		{ margin-bottom:17px; }


.inputs input		{ width:262px; height:28px; border:none; background:none; font-size:16px; color:#bcbcbc; padding:0 5px 0 5px; }


.submit				{ padding:11px 0 0 55px; }


.submit input		{ width:165px; height:22px; padding:0 0 3px 0; font-size:12px; color:#fff; text-shadow:1px 1px #131313; cursor:pointer; }


.copyright			{ position:absolute; top:415px; left:50%; margin-left:-190px; width:370px; text-align:center; font-size:11px; color:#6e6e6e; font-family:Arial, Helvetica, sans-serif; }


.copyright img		{ border:none; margin:0 0 -2px 2px; }


.error				{ position:absolute; top:220px; left:50%; margin-left:-142px; width:275px; text-align:center; font-size:12px; color:#f20000; display:none; }





