#usersFilter {


	overflow: hidden;


	width: 640px;


}





#usersFilter div {


	overflow: hidden;


	float: left;


}





#usersFilter .left, #usersFilter .right {


	width: 300px;


}





#usersFilter input {


	width: 291px;


}





#usersFilter select {


	width: 295px;


}





#usersFilter .left select {


	height: 323px;


}





#usersFilter .middle {


	width: 40px;


}





#usersFilter .middle p {


	padding-top: 85px;


}





#usersFilter .middle p button {


	width: 20px;


	float: none;


	border: 1px solid #000;


	margin: 0 auto;


}





#usersFilter .right select {


	height: 318px;


}





#usersFilter .right button {


	float: right;


	margin-right: 3px;


}