button { border: 0; cursor: pointer; font-family: "Trebuchet MS",sans-serif; font-size: 12px; }



.ui-sortable li { cursor: move; }



.container 					{ position:relative; margin:0 auto; width:100%; height:auto !important; height:100%; min-height:100%; }



.header 						{ height:101px; background:url(img/bg-right-top.png) 300px; }

.ac-section					{ background:url(img/active-arrow.png) no-repeat bottom center; }

.left-top					{ float:left; width:302px; height:101px; background:url(img/bg-left-top.png); }

.top-logo					{ float:left; width:77px; text-align:center; padding:25px 0 0 0; }

.top-left-section			{ float:left; width:55px; text-align:center; margin:23px 0 0 15px; height:77px; }

.top-left-section .title		{ padding-top:6px; }

.top-left-section a			{ color:#fff; line-height:14px; display:block; }

.top-left-section a:hover	{ color:#929292; }

.left-top .ac-section a		{ color:#929292; }



.right-top					{ float:left; height:101px; }

.top-right-section			{ float:left; width:50px; text-align:center; margin:23px 0 0 15px; height:77px; }

.top-right-section .title	{ padding-top:6px; }

.top-right-section a			{ color:#929292; font-size:10px; line-height:12px; display:block; }

.top-right-section a:hover	{ color:#fff; }

.right-top .ac-section a		{ color:#fff; }



.right-block				{ position:absolute; top:0px; right:0px; height:27px; background:url(img/right-block-bg.png) no-repeat top left; }

.right-block .links			{ float:left; margin:3px 0 0 0; padding:0 6px 0 12px; }

.right-block .links a		{ font-size:10px; color:#fff; }

.right-block .links a:hover	{ color:#929292; }

.right-block .links img		{ margin:0 4px -3px 4px; }

.right-block .logout			{ float:right; width:62px; height:22px; text-align:center; background:url(img/logout-bg.png); padding:3px 0 0 0; }

.right-block .logout a		{ font-size:10px; color:#fff; }

.right-block .logout img		{ margin:0 2px -2px 2px; }

.right-block .logout a:hover	{ color:#929292; }



.content 					{ background:url(img/content-bg.png) repeat-x top; overflow:hidden; width:100%; padding-bottom:70px; }

.tree						{ float:left; width:280px; margin-top:20px; padding:0 0 0 10px; }

.tree-collapse				{ float:left; width:13px; height:560px; margin-top:20px; text-align:right; }

.tree-collapse a				{ display:block; width:13px;height:560px; background:url(img/tree-bg-tmp.png) no-repeat right top; }

.tree-collapse a:hover		{ background:url(img/tree-bg-hover.png) no-repeat right top; }

.small-tabs					{ width:270px; height:27px; background:url(img/small-tabs-bg.png) no-repeat bottom left; overflow:hidden; width:100%; padding-left:4px; }

.small-tabs div a				{ color:#fff; text-shadow:1px 1px #000000; display: block; }

.small-tabs div 				{ width:30px; height:24px; float:left; text-align:left; padding:2px 0 0 13px; }

.small-tabs div.lang			{ background:url(img/tab-bg-small-grey.png) no-repeat top left; }

.small-tabs div.lang-ac		{ background:url(img/tab-bg-small-black.png) no-repeat top left; }

.tree-area					{ width:274px; background:url(img/tree-area-bg.png) no-repeat bottom; padding:10px 0 0 0; }

.tree-buttons				{ width:272px; height:43px; background:url(img/tree-buttons.png) no-repeat bottom; margin-left:1px; padding:35px 0 0 0; }

.tree-buttons a				{ display:block; float:left; width:80px; height:22px; text-align:center; padding-top:5px; }

.tree-buttons a.save			{ background:url(img/btn-tree-save.png); margin:8px 5px 0 52px; color:#fff; text-shadow:1px 1px #333333; }

.tree-buttons a.cancel		{ background:url(img/btn-tree-cancel.png); margin:8px 0 0 0; color:#525252; text-shadow:1px 1px #fff;}



.start-area					{ margin:0 470px 0 310px; }

.start-right				{ float:right; width:419px; margin:8px 20px 0 0; }

.path						{ padding:10px 0 6px 15px; font-size:18px; color:#2f2f2f; text-shadow:1px 1px #fff; }

.path img					{ margin:0 3px 2px 3px; }

.path a 						{ color:#2f2f2f; text-shadow:1px 1px #fff; }

.module { color: #999; padding: 0 0 5px 30px; }

.module span { color: #666; }

.start-blocks				{ width:855px; overflow:hidden; padding:8px 0 0 15px; }

.block-left					{ float:left; margin:8px 0 15px 12px; }

.block-right				{ float:right; margin:0 0 15px 0; }

.h-exp						{ width:100%; height:25px; background:url(img/block-header-exp.png) no-repeat left; }

.h-exp .title				{ float:left; color:#fff; text-shadow:1px 1px #939393; padding:3px 0 0 8px; }

.h-exp .arrow 				{ float:right; width:30px; height:25px; background:url(img/block-arrow-exp.png) no-repeat right; }

.h-exp .arrow a				{ display:block; height:25px; }

.h-col						{ width:100%; height:25px; background:url(img/block-header-col.png) no-repeat left; }

.h-col .title				{ float:left; color:#fff; text-shadow:1px 1px #939393; padding:3px 0 0 8px; }

.h-col .arrow 				{ float:right; width:30px; height:25px; background:url(img/block-arrow-col.png) no-repeat right; }

.h-col .arrow a				{ display:block; height:25px; }



.cmnt						{ padding:15px 10px 15px 10px; margin:0 0 0 1px; font-size:10px; overflow:hidden; }

.cmnt .t						{ font-size:11px; color:#929292; }

.cmnt .t span				{ color:#1e1e1e; }

.cmnt .c						{ padding:3px 0 3px 0; }

.cmnt .links					{ float:left; }

.cmnt .links img				{ margin:0 4px -1px 4px; }

.cmnt .links a.orange		{ color:#db813f; }

.cmnt .links a.blue			{ color:#3fa9db; }

.cmnt .links a.red			{ color:#db3f3f; }

.cmnt .links a:hover			{ color:#1e1e1e; }

.cmnt .date					{ float:right; }

.greybg						{ background:#e8e8e8; }





.start-form					{ padding:15px 0 0 10px; }

.start-content				{ border:1px solid #bcbcbc; border-top:none; background:#fff; overflow:hidden; }

.start-input				{ overflow:hidden; margin-bottom:10px; }

.start-input .label			{ float:left; width:95px; padding-top:4px; }

.start-input .field			{ float:left; width:300px; }

.start-input input			{ width:300px; height:22px; border:1px solid #bdbdbd; }

.start-input textarea			{ width:300px; height:160px; border:1px solid #bdbdbd; }

.start-btns					{ overflow:hidden; padding:5px 12px 15px 0; float:right; }

.start-btns a.draft			{ float:left; display:block; width:171px; height:25px; background:url(img/btn-bg-large.png); text-align:center; padding:8px 0 0 0; color:#525252; text-shadow:1px 1px #ffffff; }

.start-btns a.add			{ float:right; display:block; width:84px; height:25px; background:url(img/btn-bg-small.png); text-align:center; padding:8px 0 0 0; color:#fff; text-shadow:1px 1px #333333; }



.chart 						{ }

.chart-info					{ padding:0 0 10px 25px; font-size:14px; color:#1e1e1e; }

.chart-info	span.grey		{ color:#919191; }

.chart-info	span.red		{ color:#ca1010; }



/* List style */

.content-area				{ margin:0 20px 0 310px; }

.table						{ padding:8px 0 0 15px; }

.table-data 				{ border:1px solid #bcbcbc; border-top:none; }

.table img					{ margin:3px 0 0 0; }

.table-header				{ height:22px; background:url(img/table-header-bg-r.png) no-repeat right; color:#fff; text-shadow:1px 1px #939393; padding-top:3px; }

.table-header-l				{ height:25px; background:url(img/table-header-bg.png) no-repeat left; }

.table-header div div		{ padding:0 0 0 10px; }

.table-header .centered div	{ padding:0; }

.table-item					{ overflow:hidden; color:#525252; text-shadow:1px 1px #ffffff; background:#fff; line-height:14px; cursor:pointer; }

.table-item div				{ padding:4px 0 4px 0; }

.table-item div div			{ padding:0 10px 0 10px; }

.table-item div div a			{ display:block; color:#000; }

.grey						{ background:#e8e8e8; }

.hover						{ background:#c8c8c8; }

.add-btn a			{ display:block; color:#fff; text-shadow:1px 1px #333; width:96px; height:24px; text-align:center; padding:5px 0 0 10px; background:url(img/btn-add-bg.png) no-repeat; margin:0 0 15px 0; }

.cellbg						{ background:url(img/cell-border.png) no-repeat top right; }





/* Add, edit view */

.insert-area				{ margin:0 305px 0 310px; }

.big-tabs					{ background:url(img/big-tabs-bg.png) repeat-x left bottom; height:23px; margin:8px 0 15px 15px;  }

.big-tabs div a				{ color:#fff; text-shadow:1px 1px #000000; display: block; }

.big-tabs div 				{ width:122px; height:19px; float:left; text-align:left; padding:2px 0 0 0px; text-align:center; }

.big-tabs div.tab			{ background:url(img/tab-bg-large-grey.png) no-repeat top left; }

.big-tabs div.tab-ac			{ background:url(img/tab-bg-large-black.png) no-repeat top left; }

.block-insert				{ float:left; margin:0 0 15px 15px; }

.insert-content				{ border:1px solid #bcbcbc; border-top:none; background:#fff; padding:20px 0 0 0; overflow:hidden; margin-bottom:25px; }

.rightblock-content			{ border:1px solid #bcbcbc; border-top:none; background:#fff; padding:10px 0 0 0; overflow:hidden; }

.insert-input				{ overflow:hidden; padding:0 15px 15px 10px; }

.insert-input .label			{ padding-top:4px; }

.insert-input input			{ width:100%; height:22px; border:1px solid #bdbdbd; }

.insert-input select			{ width:100%; height:22px; border:1px solid #bdbdbd; }

.insert-input textarea		{ width:100%; height:395px; border:1px solid #bdbdbd; overflow:auto; }

.insert-input textarea.p		{ width:100%; height:120px; border:1px solid #bdbdbd; overflow:auto; }

.insert-input textarea.pb	{ width:100%; height:400px; border:1px solid #bdbdbd; overflow:auto; }

.insert-input textarea.fx	{ width:230px; height:635px; border:1px solid #bdbdbd; overflow:auto; }

.insert-right				{ width:261px; margin:-28px 20px 0 0; }

.search						{ width:261px; height:29px; background:url(img/search-bg.png) no-repeat; }

.search	 input				{ background:none; border:none; width:218px; height:20px; margin:2px 0 0 5px; overflow:hidden; }

.search .btn					{ margin:5px 7px 0 0; }

.statuss 					{ overflow:hidden; }

.statuss .label				{ padding:0 0 5px 10px; color:#525252; }

.statuss .radio				{ color:#c7c7c7; margin:0 0 10px 5px; }

.statuss-btns				{ overflow:hidden; padding-bottom:10px; }

.statuss-btns a, button		{ display:block; float:left; width:115px; height:30px; text-align:center; line-height: 30px; }

.statuss-btns a.preview		{ background:url(img/btn-bg-white.png) no-repeat; color:#525252; text-shadow:1px 1px #fff; margin:0 5px 0 10px; }

.statuss-btns a.save, button.save	{ background:url(img/btn-bg-save.png) no-repeat; color:#fff; text-shadow:1px 1px #333; margin:1px 0 0 0; }

.statuss select				{ width:235px; height:22px; border:1px solid #bdbdbd; margin:0 0 10px 10px; }

.statuss input.date			{ width:212px; height:22px; border:1px solid #bdbdbd; margin:0 0 10px 10px; }



#preview					{ padding:10px 0 10px 12px; margin:0 0 0 7px; width:237px; display:none; background:url(img/preview-bg.png) no-repeat bottom left; }



/* Paging */

.footer-paging                            { border-top:1px solid #c1c1c1; margin:5px 0 20px 0; overflow:hidden; width:100%; }

.footer-paging .paging             { width:138px; height:23px; text-align:center; background:url(img/footer-paging-bg.png) no-repeat; float:right; }

.paging ul                                       { list-style:none; font-size:11px; padding:3px 0 0 0; color:#a8a8a8; text-shadow:1px 1px #f3f3f3; }

.paging ul  li                                    { display:inline; margin:0 5px 0 0; }

.paging ul  li  a                                { color:#a8a8a8; text-shadow:1px 1px #f3f3f3; }

.paging ul  li  a.ac, .paging ul  li  a:hover { color:#000; }



.paging ul  li  a.pleft                    { background:url(img/pleft.png) no-repeat; }

.paging ul  li  a.pleft:hover        { background:url(img/pleft-hv.png) no-repeat; }

.paging ul  li  a.pright                  { background:url(img/pright.png) no-repeat; }

.paging ul  li  a.pright:hover      { background:url(img/pright-hv.png) no-repeat; }







.footer 						{ position:absolute; width:100%; bottom:0; height:42px; }

.footer .copyright			{ float:left; }

.footer .copyright p 			{ padding:13px 0 0 15px; font-size:11px; color:#8a8a8a; }

.footer .copyright p img		{ margin:0 0 -1px 3px; }

.footer .logo				{ float:right; }

.footer .logo img			{ margin:12px 10px 0 0; }

form#countdown-settings {
    display: block;
    margin-top: 3%;
}
form#countdown-settings input {
    display: block;
    clear: both;
}

div.pic-set {
    border: none;
    height: 64px;
}
div.pic-set .btn {
    margin-top: 0;
}

/* WINNERS */
.job_reference {
    height: 22px;
    overflow: visible;
}

.autofill {
    padding: 0 10px 10px 10px;
}

.searchbox {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #000;
    z-index: 9999;
}
.searchbox li {
    background: #fff;
    color: #000;
    cursor: pointer;
}
.searchbox li:hover {
    background: blue;
    color: #fff;
   
}