/*


Uploadify v2.1.4


Release Date: November 8, 2010





Copyright (c) 2010 Ronnie Garcia, Travis Nickels





Permission is hereby granted, free of charge, to any person obtaining a copy


of this software and associated documentation files (the "Software"), to deal


in the Software without restriction, including without limitation the rights


to use, copy, modify, merge, publish, distribute, sublicense, and/or sell


copies of the Software, and to permit persons to whom the Software is


furnished to do so, subject to the following conditions:





The above copyright notice and this permission notice shall be included in


all copies or substantial portions of the Software.





THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR


IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,


FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE


AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER


LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,


OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN


THE SOFTWARE.


*/


.uploadifyQueueItem {


	background-color: #F5F5F5;


	border: 2px solid #E5E5E5;


	font: 11px Verdana, Geneva, sans-serif;


	margin-top: 5px;


	padding: 10px;


	width: 350px;


}


.uploadifyError {


	background-color: #FDE5DD !important;


	border: 2px solid #FBCBBC !important;


}


.uploadifyQueueItem .cancel {


	float: right;


}


.uploadifyQueue .completed {


	background-color: #E5E5E5;


}


.uploadifyProgress {


	background-color: #E5E5E5;


	margin-top: 10px;


	width: 100%;


}


.uploadifyProgressBar {


	background-color: #0099FF;


	height: 3px;


	width: 1px;


}