
.wrapper {
	width: 1005px;
	margin: 0 auto;
}

.white {
	margin-bottom: 60px;
}

.vidoverlay{
    background:url(img/vidoverpattern.png);
    position:absolute;
    display: block;
    top: 0px;
    z-index:1;
    width: 100%;
    left: 0;
    height: 100%;
}

header {
	width: 1002px;
	margin: 0 auto;
	padding: 0 0 50px 0;;
	overflow: hidden;
	position: relative;
}

	header.firstpage {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -501px;
		z-index: 2;
	}
	
	.logo {
		clear: both;
		text-align: center;
		padding: 0 0 15px 0;
	}
	
	.links {
		float:right;
	    position:relative;
	    left:-50%;
	    padding: 13px 0 30px 0;
	    text-transform: uppercase;
	}
	
		.links ul {
			list-style: none;
			overflow: hidden;
		    position:relative;
		    left:50%;
		    margin: 0;
		}
			
			.links ul li {
			   float: left;
			   color: #fff;
			   margin: 0 22px 0 0;
			}
			
				.links ul li a {
				    color: #fff;
				}
				
				.links ul li a:hover {
				    color: #000;
				}
				
			.links ul li:last-child {
				margin: 0;
			}
		
		.links p.my-orders {
		    clear: both;
			text-align: right;
			padding: 5px 0 0 0;
			font-size: 21px;
			color: #000;
			text-transform: uppercase;
		}
		
			.links p.my-orders a {
				display: block;
				width: 140px;
				height: 17px;
				background: #000;
				color: #fff;
				font-size: 14px;
				text-align: center;
				padding: 2px 0 0 0;
				font-family: 'rufinaregular';
				float: right;
			}
		
		.links p.days {
		    clear: both;
			text-align: right;
			padding: 160px 0 0 0;
			font-size: 16px;
			color: #000;
			text-transform: uppercase;
		}
		
			.links p.days span {
				font-size: 40px;
				color: #851b21;
				padding-left: 3px;
			}
			
		.links a.profile-link {
			color: #fff;
		}
		.links a.profile-link:hover {
			color: #000;
		}
	
	
.down-arrow {
	position: fixed;
	bottom: 50px;
	left: 50%;
	width: 82px;
	height: 82px;
	margin-left: -41px;
	background: url(img/arrow-down.png) no-repeat;
	cursor: pointer;
	z-index: 4;
}

.absolute-firstpage {
	position: relative;
	background: #c2c1c2;
	padding: 30px 0 0 0;
	padding-top: 300px;
}
	
nav {
	float:right;
    position:relative;
    left:-50%;
    text-align:left;
}

nav ul {
	list-style: none;
	overflow: hidden;
    position:relative;
    left:50%;
}	

	nav ul li {
	    float: left;
		font-size: 21px;
		padding: 10px 32px 10px 0px;
		text-transform: uppercase;
	}
	
		nav ul li:first-child {
			padding-left: 0px;
		}
		
		nav ul li:last-child {
			padding-right: 0px;
		}
		
		nav ul li a {
			color: #fff;
		}
		
		nav ul li a.ac, nav ul li a:hover {
			color: #000;
		}
		
		nav ul li a.ac { border-bottom: 1px solid #291c36; }
	
	
.main-news {
    border: 0;
    width: 1002px;
	margin: 0 auto;
}

	.main-news .items {
		width: 100%;
		height: 275px;
		background: #291c36;
		border:0;
	}	
		
		.main-news .items .img {
			width: 670px;
			height: 235px;
			float: left;
			margin: 0 15px 0 0;
		}
		
		.main-news .items .data {
			width: 292px;
			float: left;
			margin: 10px 0 0 0;
		}
		
			.main-news .items .data h1 {
				font-size: 25px;
				color: #bcc2bc;
				padding: 15px 0 0 0;
				font-weight: normal;
				text-transform: uppercase;
				line-height: 32px;
			}
			
			.main-news .items .data h2 {
				font-size: 15px;
				font-weight: normal;
				color: #bcc2bc;
				padding: 15px 0 20px 0;
				line-height: 24px;
			}
			
			.main-news .items .data h2 img {
				margin: 0 0 -5px 5px;
			}
			
			.main-news .items .data a {
				color: #fff;
			}
			
			.main-news .items .data a:hover {
				text-decoration: underline;
			}
	
	.main-news .switch {
		float:right;
	    position:relative;
	    left:-50%;
	    text-align:left;
	    margin: 24px 0 40px 0;
	}	
	
		.main-news .switch ul {
			list-style: none;
			overflow: hidden;
		    position:relative;
		    left:50%;
		}
		
			.main-news .switch ul li {
				float: left;
				text-align: center;
				margin: 0 10px 0 0;
			}
			
				.main-news .switch ul li a {
					display: block;
					width: 10px;
					height: 10px;
					background: url(img/bg-switch.png) no-repeat left;
				}
				
				.main-news .switch ul li a.ac, .main-news .switch ul li a:hover {
					background: url(img/bg-switch.png) no-repeat right;
				}
		
	
.main-blocks {
	clear: both;
    margin-bottom: 70px;
	overflow: hidden;
	width: 965px;
	margin: 0 auto;
}

	.main-blocks .block {
		float: left;
		width: 287px;
		margin: 0 52px 0 0;
	}
	
		.main-blocks .block .img-video {
			height: 161px;
			background: none;
		}
		
		.main-blocks .block .data {
			
		}
		
		.main-blocks .block h2 {
			padding: 3px 0 0px 0;
			font-size: 20px;
			font-weight: normal;
			margin: 0;
			text-transform: uppercase;
		}
		
			.main-blocks .block h2 img {
				margin: 0 0 -3px 5px;	
			}
			
			.main-blocks .block h2 a {
				color: #291c36;
			}
			
			.main-blocks .block h2 a:hover {
				color: #000;
			}
			
		.main-blocks .block h3 {
			font-size: 21px;
			font-weight: normal;
			margin: 0;
		}
		
			.main-blocks .block h3 a {
				color: #000;
			}
			
		.main-blocks .block .intro {
			color: #726f79;
			font-size: 15px;
			line-height: 25px;
			padding: 5px 0 0 0;
		}
			
			.main-blocks .block .intro img {
				margin: 0 0 -5px 5px;	
			}
			
		.main-blocks .block .more {
			width: 60px;
			height: 18px;
			float: right;
			background: #000;
			text-align: center;
			font-size: 14px;
			margin: 3px 0 0 0;
			padding: 2px 0 0 0;
		}
		
			.main-blocks .block .more a {
				color: #fff;
			}
	
	
.sponsors {
	width: 953px;
	margin: 50px auto 30px auto;
}

	.sponsors h2 {
		font-size: 21px;
		font-weight: normal;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 40px 0;
	}
		
		
	.sponsors div {
		/*background-image: url(img/adwards-sponsors-1906x518pix_trans.png);*/
		background-size: 953px 259px;
   	 	width: 953px;
   	 	height: 259px;
	}
	
	
.sponsors img{
   	 	width: 953px;
   	 	height: 259px;
}	
	
	/* for high resolution display */

	@media only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
		.image {
		    background: url(img/adwards-sponsors-2x.png) no-repeat;
		    background-size: 953px 259px;
		}
	}
	
.adwards-section {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.adwards-section h2 {
	font-size: 135px;
	color: #fff;
	text-transform: uppercase;
	padding: 15% 0 0 100px;
	font-weight: normal;
}

.adwards-section-wrapper {
	padding: 60px 0 70px 0;
}

.adwards-section-content {
	margin: 0 auto;
	width: 1005px;
}

	
	.adwards-section-content p {
		font-size: 15px;
		line-height: 21px;
	}


.jury {
	overflow: hidden;
}

	.jury .item {
		float: left;
		width: 225px;
		height: 225px;
		margin: 0 34px 24px 0;
	}
		
		.jury .item .over {
			background: #291c35;
			width: 205px;
			height: 195px;
			padding: 30px 10px 0 10px;
			text-align: center;
			color: #fff;
			-khtml-opacity:.90; 
			-moz-opacity:.90; 
			-ms-filter:”alpha(opacity=90)”;
			filter:alpha(opacity=90);
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
			opacity:.90; 
			cursor: pointer;
		}
			
			.jury .item .over h3 {
				font-size: 25px;
				font-weight: normal;
			}
			
			.jury .item .over h4 {
				font-size: 15px;
				font-weight: normal;
				padding: 0 0 10px 0;
				line-height: 25px;
			}


.page {
	overflow: hidden;
	width: 1005px;
	margin: 0 auto 0px auto;
}

	.page .leftside {
		float: left;
		width: 272px;
		border-right: 12px solid transparent;
	}
	
		.page .leftside ul {
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 17px;
			text-transform: uppercase;
		}
		
			.page .leftside ul li {
				background: none;
				padding: 8px 0 8px 20px;
			}
			
				.page .leftside ul li a {
					color: #a2221d;
				}
				
				.page .leftside ul li a.ac, .page .leftside ul li a:hover {
					color: #000;
				}
				
		.page .leftside ul li ul {
			padding: 5px 0 0 0;
		}
		
			.page .leftside ul li ul li {
				font-size: 14px;
				background: none;
				margin-bottom: 1px;
				padding: 0 0 0 20px;
			}
				

.textdoc {
	width: 1002px;
	margin: 0 auto;
	overflow: hidden;
}

	.page-content {
		float: left;
		width: 619px;
		padding: 25px 0 25px 0;
		color: #434242;
	}
	
		.page-content h1 {
			font-size: 24px;
			padding: 0 30px 5px 26px;
		}
		
		.page-content h2 {
			font-size: 18px;
			padding: 0 0 10px 0;
			padding: 0 30px 5px 26px;
		}
		
		.page-content h3 {
			font-size: 16px;
			font-weight: normal;
			padding: 0 0 20px 0;
		}
		
		.page-content p, .page-content div {
			line-height: 22px;
			padding: 0 30px 20px 26px;
		}
		
		.page-content ol, .page-content ul {
			padding: 0 30px 0 26px;
		}
		
		.page-content li { line-height: 22px; }
		
		.page-content strong { font-weight: bold; }
		
		.page-content a { text-decoration: underline; }
		
	.page-content .page-image {
		padding: 0 0 25px 0;
	}

		
/* Kategorijas un formāti */
.page-content .sections, .page-content .sections div, .page-content .sections ul  {
	padding: 0;
}

.page-content .sections ul {
	display: none;
	margin: 0 0 25px 0;
	list-style: none;
	background: #fff;
	position: absolute;
	border-bottom: 2px solid #55606e;
	width: 619px;
	padding: 0 0 15px 0;
}

	.page-content .sections ul li {
		padding: 4px 0 4px 15px;
		text-transform: uppercase;
		font-size: 15px;
		color: #291c36;
		width: 604px;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
		
		.page-content .sections ul li a { display: block; color: #291c36; text-decoration: none; }
		
		.page-content .sections ul li:hover {
			background: #1cbbb4;
		}
		
			.page-content .sections ul li.antalis a, .page-content .sections ul li:hover a { color: #fff; }
			
		.page-content .sections ul li.antalis, .page-content .sections ul li.antalis:hover {
			background: #0e074e;
		}
		
	
		

.page-content .sections .selected {
	height: 34px;
	background: #55606e;
	margin: 0;
	padding: 16px 15px 0 8px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
}

.selected .title {
	float: left;
	width: 563px;
	margin-left: 10px;
}

.selected .ico {
	float: left;
	width: 19px;
	height: 10px;
	margin: 3px 0 0 0;
	background: url(img/arrow-white.png) no-repeat top;
}

.selected .down {
	background: url(img/arrow-white.png) no-repeat bottom;
}

.page-content .format, .page-content .format div, .page-content .format ul  {
	padding: 0;
}

.page-content .format {
	background: #fff;
	margin: 25px 0 0 0;
	padding: 16px 15px 14px 8px;
	color: #291c36;
	text-transform: none;
	cursor: pointer;
	overflow: hidden;
}

.format .title {
	float: left;
	width: 563px;
	margin-left: 10px;
	line-height: 16px;
}

.format .ico {
	float: left;
	width: 19px;
	height: 10px;
	margin: 3px 0 0 0;
	background: url(img/arrow-dark.png) no-repeat top;
}
		
.format .down {
	background: url(img/arrow-dark.png) no-repeat bottom;
}

.page-content .format-content {
	padding: 0 25px 10px 25px;
	width: 569px;
	background: #fff;
	margin: 0 0 25px 0;
	border-top: 1px solid #c2c1c2;
	display: none;
}

	.page-content .format-content h3 {
		padding: 25px 0 25px 0;
		font-size: 25px;
		font-weight: bold;
	}

	.page-content .format-content p {
		padding: 0 0 15px 0;
		line-height: 21px;
	}



		
	.page .page-content-empty {
		float: right;
		width: 633px;
		color: #000;
		border-left: 45px solid transparent;
	}
	
		.page .page-content-empty .h {
			padding: 0 0 20px 0;
			background: none;
			overflow: hidden;
		}
		
			.page .page-content-empty .h h1 {
				font-size: 24px;
				font-weight: normal;
				float: left;
			}
			
			.page .page-content-empty .h a {
				display: block;
				width: 78px;
				height: 18px;
				background: #000;
				color: #fff;
				text-align: center;
				font-size: 14px;
				float: right;
				padding: 2px 0 0 0;
			}
			
		.page .page-content-empty .sections {
			padding: 10px 0 5px 15px;
			background-color: #e4e4e4;
		}
		
			.page .page-content-empty .sections ul {
			    padding: 0;
				margin: 0;
				overflow: hidden;
				list-style: none;
			}
			
			.page .page-content-empty .sections ul li {
			    float: left;
				margin: 0 10px 5px 0;
				font-size: 22px;
			}
			
				.page .page-content-empty .sections ul li a {
					color: #fff;
					display: block;
					background: #000;
					text-align: center;
					padding: 5px 10px 5px 10px;
					font-family: 'rufinaregular';
				}
				
				.page .page-content-empty .sections ul li a:hover {
					background: #a2221d;
				}
				
				.page .page-content-empty .sections ul li a.ac {
					background: #a2221d;
				}
				
		.page .page-content-empty .c {
			background: none;
			min-height: 350px;
		}
		
			.page .page-content-empty .c p {
				font-family: Tahoma;
				padding: 20px 0 20px 0;
			}
		
	.page .page-content ul, .page .page-content ol {
		padding: 10px 0 0 0;
	}
	
	.page .page-content li {
		font-family: Tahoma;
		padding: 0 0 5px 0;
		font-size: 14px;
	}
	
	.page .page-content-empty ul, .page .page-content-empty ol {
		padding: 10px 0 0 0;
	}
	
	.page .page-content-empty li {
		font-family: Tahoma;
		padding: 0 0 5px 0;
		font-size: 14px;
	}
		
		.archive {
			border-top: 30px solid transparent;
			overflow: hidden;
		}
		
			.archive .l {
				float: left;
				width: 370px;
				border-right: 20px solid transparent;
			}
			
				.archive .l .image {
					height: 274px;
					/*background: #fff;*/
					border-bottom: 20px solid transparent;
					text-align: right;
					padding:0;
					/*cursor:pointer;*/
				}
				
				.archive .l .image .img-popup-link {
					width: 370px;
					height: 274px;
					/*background-color:black;*/
					display:block;
				}
				
				.archive .l .paging {
					height: 49px;
				}
					
					.archive .l .paging ul {
						overflow: hidden;
						list-style: none;
						padding: 10px 0 0 0;
						margin-left: 15px;
					}
					
						.archive .l .paging ul li {
							float: left;
							width: 29px;
							height: 27px;
							margin: 0 5px 0 0;
						}
						
							.archive .l .paging ul li a {
								display: block;
								width: 29px;
								height: 26px;
								background: #000;
								text-align: center;
								color: #fff;
								font-size: 23px;
								padding: 1px 0 0 0;
								font-family: 'rufinaregular';
							}
							
							.archive .l .paging ul li a.ac, .archive .l .paging ul li a:hover {
								background: #df3a2d;
							}
			
			.archive .r {
				float: right;
				width: 243px;
				/*background: #fff;*/
			}
			
				.archive .r h1 {
					font-weight: normal;
					font-size: 22px;
					line-height: 23px;
					color: #a2221d;
					padding: 0 0 5px 0;
				}
				
				.archive .r p {
					font-family: Tahoma;
					font-size: 12px;
					color: #585961;
					padding: 0 0 20px 0;
				}	
			
			
			.archive-items {
				overflow: hidden;
				padding: 40px 0 0 0;
			}
			
				.archive-items .item-left {
					float: left;
					width: 309px;
					overflow: hidden;
					margin: 0 0 40px 0;
				}
				
				.archive-items .item-right {
					float: right;
					width: 309px;
					overflow: hidden;
					margin: 0 0 40px 0;
				}
				
					.archive-items .image {
						float: left;
						width: 144px;
						background: #000;
						padding-bottom: 18px;
					}
					
					.archive-items .data {
						float: left;
						width: 154px;
						margin-left: 10px;
					}
					
						.archive-items .data .cont {
							height: 127px;
						}
						
						.archive-items .data .cont h1 {
							font-weight: normal;
							font-size: 14px;
							color: #a2221d;
							font-family: Tahoma;
						}
						
						.archive-items .data .cont h2 {
							font-weight: normal;
							font-size: 21px;
							color: #000;
						}
						
						.archive-items .data .cont p {
							font-size: 14px;
							color: #000;
							padding: 0;
							font-family: Tahoma;
						}
						
						.archive-items .data .more a {
							display: block;
							width: 60px;
							height: 18px;
							background: #000;
							text-align: center;
							color: #fff;
							font-size: 14px;
							padding: 2px 0 0 0;
						}
			
		
		
		.formats {
		
		}
		
			.formats .cols {
			    overflow: hidden;
				font-size: 18px;
				color: #a2221d;
				padding: 20px 0 3px 12px;
			}
			
			.cols {
				background-color: none;
			}
			
				.formats .cols .col1 {
					float: left;
					width: 202px;
				}
				
				.formats .cols .col2 {
					float: left;
					width: 145px;
				}
				
				.formats .cols .col3 {
					float: left;
					width: 145px;
				}
				
				.formats .cols .col4 {
					float: left;
					width: 125px;
				}
			
			.formats .format-blue {
				width: 634px;
				overflow: hidden;
				background: url(img/bg-formats-blue.png) repeat-y;
			}
			
				.formats .format-blue .col1 {
					float: left;
					width: 182px;
					margin: 10px 10px 10px 18px;
					color: #fff;
					font-size: 18px;
				}
				.formats .format-blue .col1 p { padding: 0; font-family: 'rufinaregular'; }
				
				.formats .format-blue .col2 {
					float: left;
					width: 135px;
					color: #fff;
					font-size: 11px;
					font-family: Tahoma;
					margin: 10px 10px 10px 7px;
				}
				.formats .format-blue .col2 p { padding: 0; }
				
				.formats .format-blue .col3 {
					float: left;
					width: 135px;
					color: #fff;
					font-size: 11px;
					font-family: Tahoma;
					margin: 10px 10px 10px 0;
				}
				.formats .format-blue .col3 p { padding: 0; }
				
				.formats .format-blue .col4 {
					float: left;
					width: 115px;
					color: #fff;
					font-size: 11px;
					font-family: Tahoma;
					margin: 10px 0 10px 0;
				}
				.formats .format-blue .col4 p { padding: 0; }
			
			.formats .format-white {
				width: 634px;
				overflow: hidden;
				background: url(img/bg-formats-white.png) repeat-y;
			}
				
				.formats .format-white .col1 {
					float: left;
					width: 182px;
					margin: 10px 10px 10px 18px;
					color: #585961;
					font-size: 18px;
				}
				.formats .format-white .col1 p { padding: 0; font-family: 'rufinaregular'; }
				
				.formats .format-white .col2 {
					float: left;
					width: 135px;
					color: #585961;
					font-size: 11px;
					font-family: Tahoma;
					margin: 10px 10px 10px 7px;
				}
				.formats .format-white .col2 p { padding: 0; }
				
				.formats .format-white .col3 {
					float: left;
					width: 135px;
					color: #585961;
					font-size: 11px;
					font-family: Tahoma;
					margin: 10px 10px 10px 0;
				}
				.formats .format-white .col3 p { padding: 0; }
				
				.formats .format-white .col4 {
					float: left;
					width: 115px;
					color: #585961;
					font-size: 11px;
					font-family: Tahoma;
					margin: 10px 0 10px 0;
				}
				.formats .format-white .col4 p { padding: 0; }
			
				
				
			.programm h1 {
				font-size: 24px;
				color: #a2221d;
				font-weight: normal;
				padding: 20px 0 20px 0;
			}
			
				.programm h1 span { color: #000; }
				
			
			.programm .line-blue {
				width: 634px;
				overflow: hidden;
				background: url(img/bg-programm-blue.png) repeat-y;
			}
			
				.programm .line-blue .col1 {
					float: left;
					width: 105px;
					margin: 10px 10px 10px 18px;
					color: #fff;
					font-size: 24px;
				}
				
				.programm .line-blue .col2 {
					float: left;
					width: 228px;
					color: #fff;
					font-size: 12px;
					font-family: Tahoma;
					font-weight: bold;
					margin: 10px 10px 10px 7px;
					line-height: 17px;
				}
				
				.programm .line-blue .col3 {
					float: left;
					width: 245px;
					color: #fff;
					font-size: 12px;
					font-family: Tahoma;
					margin: 10px 10px 10px 0;
					line-height: 17px;
				}
							
			.programm .line-white {
				width: 634px;
				overflow: hidden;
				background: url(img/bg-programm-white.png) repeat-y;
			}
				
				.programm .line-white .col1 {
					float: left;
					width: 105px;
					margin: 10px 10px 10px 18px;
					color: #585961;
					font-size: 24px;
				}
				
				.programm .line-white .col2 {
					float: left;
					width: 228px;
					color: #585961;
					font-size: 12px;
					font-family: Tahoma;
					font-weight: bold;
					margin: 10px 10px 10px 7px;
				}
				
				.programm .line-white .col3 {
					float: left;
					width: 245px;
					color: #585961;
					font-size: 12px;
					font-family: Tahoma;
					margin: 10px 10px 10px 0;
				}
				
			.programm a {
				color: #a2221d;
			}
			

#apply {
	padding-bottom: 25px;
}
			
	#apply h3 {
		font-weight: normal;
		font-size: 23px;
		padding: 0 0 5px 0;
	}

.pieteikties {
	padding: 0 0 5px 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	color: #a2221d;
	overflow: hidden;
}			

	.pieteikties .ch {
		width: 20px;
		float: left;
	}
	
	.pieteikties .label {
		width: 350px;
		float: left;
		margin: 4px 0 0 2px;
	}

.pieteikties-submit {
	padding: 10px 0 10px 0;
}	

	.pieteikties-submit input {
		width: 90px;
		height: 20px;
		background: #000;
		color: #fff;
		font-size: 14px;
		text-align: center;
		font-family: 'rufinaregular';
		border: none;
	}
	
	.pieteikties-submit span {
		font-family: Tahoma;
	}
	
	.pieteikties p {
		font-size: 12px;
		font-family: Tahoma;
		color: #000;
		text-transform: none;
	}
	
		.pieteikties p input {
			width: 292px;
			height: 19px;
			line-height: 19px;
			background: url(img/bg-input.png) no-repeat left;
			border: none;
			padding-left: 10px;
		}
		
		.pieteikties p input.error {
			background: #a2221d;
			color: #fff;
		}

.form {
	width: 645px;
}
	
	.page-content .form div {
		padding: 0 0 10px 0;
	} 
	
	.page-content .form div p {
		padding: 0 0 5px 0;
		margin: 0;
	}
	
		.courier_button {
			margin: 25px 0 0 0;
			padding: 0;
			text-transform: uppercase;
			display: block;
			background-color: #a2221d;
			color: #fff;
			font-family: 'rufinaregular';
			font-size: 16px;
			text-align: center;
		}
		
		.courier_button a {
			color: #fff;
		}
		
		.courier_button a:hover {
			color: #000;
		}
	
		.page-content .form .line {
			overflow: hidden;
		}
		
			.page-content .form .left {
			    float: left;
				width: 302px;
			}
			
			.page-content .form .right {
			    float: left;
				width: 302px;
				margin-left: 25px;
			}
		
		.page-content .form p.input {
		    width: 302px;
			background: #a2221d;
		}
		
		.page-content .form p select {
			width: 293px;
			border: 1px solid #585961;
		}
		
		.page-content .form p input {
			width: 292px;
			height: 19px;
			line-height: 19px;
			background: url(img/bg-input.png) no-repeat left;
			border: none;
			padding-left: 10px;
		}
			
			.page-content .form p input.error {
				background: #a2221d;
				color: #fff;
			}
			
			.page-content .form p textarea.error {
				background: #a2221d;
				color: #fff;
			}
			
		.page-content .form p select.error {
			background: #a2221d;
			color: #fff;
		}
		
		.page-content .form p input.idn {
			width: 297px;
			height: 19px;
			line-height: 19px;
			border: 1px solid #a2221d;
			background: #a2221d;
			color: #fff;
			font-size: 12px;
			padding: 0 0 0 5px;
		}
		
		.page-content .form p textarea {
			width: 289px;
			height: 76px;
			padding: 3px 3px 3px 10px;
			resize: none;
			border: none;
			overflow: auto;
			background: url(img/bg-textarea.png) no-repeat left top;
		}
		
		.page-content .form p input.submit {
			width: 90px;
			height: 20px;
			background: #000;
			color: #fff;
			font-size: 14px;
			text-align: center;
			font-family: 'rufinaregular';
		}

		.page-content .form a.print {
		    display: block;
			width: 90px;
			height: 20px;
			background: #000;
			color: #fff;
			font-size: 14px;
			text-align: center;
			font-family: 'rufinaregular';
			margin: 10px 0 0 213px;
		}
	
	

		
.leftside .line {
	padding: 50px 0 0 0;
}
		
	.leftside .line label {
		font-size: 18px;
		color: #a2221d;
		text-transform: uppercase;
		font-family: 'rufinaregular';
	}
	
		.leftside .line p {
			padding: 0 0 10px 0;
		}
	
		
		
.reg-ok {
	font-family: Tahoma;
	text-align: center;
	font-size: 16px;
	padding: 30px 30px 30px 0;
}

		
		
	.video-upload {
	    width: 625px;
		height: 49px;
		background: #a2221d;
		overflow: hidden;
	}
	
		.video-upload .data {
			float: left;
			width: 462px;
			height: 29px;
			background: #585961;
			margin: 10px 0 0 10px;
		}
		
			.video-upload .data .bar {
				height: 29px;
				background: #a2221d;
			}
			
			.video-upload .data .info {
				position: absolute;
				margin-top: -28px;
				width: 462px;
				text-align: center;
				font-size: 18px;
			}
			
		.video-upload .upload {
			float: left;
			width: 130px;
			margin: 30px 0 0 10px;
		}
		
			.video-upload .upload a {
				display: block;
				width: 70px;
				height: 18px;
				background: #000;
				color: #fff;
				text-align: center;
				padding: 1px 0 0 0;
				font-size: 16px;
			}
	
	.image-upload {
	    width: 625px;
		height: 82px;
		background: #a2221d;
		overflow: hidden;
	}
	
		.image-upload .data {
			float: left;
			width: 462px;
			height: 72px;
			margin: 10px 0 0 10px;
		}
		
			.image-upload .data div {
				float: left;
				width: 72px;
				height: 72px;
				margin: 0 5px 0 0;
				padding: 0;
				background: url(img/bg-no-image.png) no-repeat;
			}
	
		.image-upload .upload {
			float: left;
			width: 130px;
			margin: 10px 0 0 10px;
		}
		
			.image-upload .upload p {
			    font-size: 12px;
				color: #e0e0e0;
				line-height: 14px;
				height: 47px;
			}
		
			.image-upload .upload a {
				display: block;
				width: 70px;
				height: 18px;
				background: #000;
				color: #fff;
				text-align: center;
				padding: 1px 0 0 0;
				font-size: 16px;
			}



.zurija {
	overflow: hidden;
	padding: 10px 0 45px 0;
}

	.zurija .img {
	    float: left;
		width: 214px;
		background: #000;
		padding: 0 0 15px 0;
	}
	
	.zurija .info {
	    float: left;
		width: 375px;
		margin: 0 0 0 20px;
		font-size: 14px;
		color: #585961;
	}
	
		.zurija .info h1 {
			font-size: 24px;
			font-weight: normal;
			color: #a2221d;
			margin: 0;
			padding: 0;
		}
		
		.zurija .info h2 {
			font-size: 21px;
			font-weight: normal;
			color: #000;
			margin: 0;
			padding: 0 0 0 0;
		}
		
		.zurija .info p {
			padding: 20px 0 0 0;
		}
		
		.info a {
			color:#000;
		}

		
		
.gallery {

}

	.gallery .main {
		width: 634px;
		height: 235px;
		background: #a2221d;
		border-bottom: 20px solid transparent;
	}	
		
		.gallery .main .img {
			width: 325px;
			height: 235px;
			float: left;
			margin: 0 10px 0 65px;
		}
		
			.gallery .main .img a {
				display: block;
				margin: 7px 0 0 287px;
			}
		
		.gallery .main .data {
			width: 225px;
			float: left;
			margin: 32px 0 0 0;
			font-family: Tahoma;
		}
		
			.gallery .main .data .info {
				height: 165px;
			}
			
				.gallery .main .data .info h1 {
					font-size: 21px;
					font-weight: bold;
					color: #fff;
				}
				
				.gallery .main .data .info p {
					font-size: 14px;
					color: #fff;
					padding: 5px 0 0 0;
				}
				
				.gallery .main .data .info p.count { font-size: 11px; }
				
			
	.gallery .thumbs {
		overflow: hidden;
		padding: 10px 15px 10px 15px;
	}
	
		.gallery .thumbs a.gl {
			float: left;
		    display: block;
			width: 29px;
			height: 27px;
			margin-top: 17px;
		}
		
		.gallery .thumbs a.gr {
			float: right;
		    display: block;
			width: 29px;
			height: 27px;
			margin-top: 17px;
		}
		
		.gallery .thumbs ul {
			float: left;
			width: 517px;
			overflow: hidden;
			margin: 0;
			padding: 0 0 0 15px;
		}
		
			.gallery .thumbs ul li {
				float: left;
				width: 60px;
				height: 61px;
				margin-right: 5px;
				list-style: none;
			}
	
.gallery-videos {
	margin: 20px 0 20px 0;
}

	.gallery-videos h1 {
		font-size: 24px;
		font-weight: normal;
		float: left;
	}
	
	.gallery-videos iframe {
		padding: 20px 0 0 0;
	}	
	
	
.other {
	background: #fff;
	padding: 20px 0 0 0;
}	

	.other h2 {
		font-size: 24px;
		font-weight: normal;
		font-family: 'rufinaregular';
		padding: 10px 0 15px 0;
	}
			
	.other .items {
		overflow: hidden;
	}	
	
		.other .items .item {
			float: left;
			width: 107px;
			margin: 0 24px 24px 0;
		}
		
			.other .items .item .img {
				background: #000;
				padding-bottom: 10px;
			}
			
			.other .items .item .title {
			    padding: 5px 0 0 0;
				font-size: 18px;
				color: #a2221d;
				font-family: 'rufinaregular';
			}
			
				.other .items .item .title a:hover {
					color: #000;
				}
			
			.other .items .item .info {
				font-family: Tahoma;
				color: #585961;
			}
			
			
.news {
	width: 1002px;
	overflow: hidden;
	margin: 45px auto 50px auto;
}

.news-item {
	width: 284px;
	float: left;
	margin: 0 25px 0 25px;
}
		
	.news-item .image {
		width: 285px;
		height: 150px;
	}
	
	.news-item .title {
		padding: 5px 0 0 0;
		font-size: 20px;
		line-height: 28px;
		text-transform: uppercase;
	}
		
		.news-item .title a { color: #291c36; }
		.news-item .title a:hover { color: #000; }
			
.news-content {
	width: 956px;
	margin: 0 auto;
	padding: 50px 0 0 0;
}		
	
	.news-content h1 {
		font-size: 35px;
		color: #291c36;
		line-height: 41px;
		padding: 0 0 40px 0;
		max-width: 540px;
		text-transform: uppercase;
	}
	
	.news-content p {
		font-size: 15px;
		color: #434242;
		line-height: 21px;
		padding: 0 0 40px 0;
	}
	
	.news-content p a {
		color: #291c36 ;
		font-family: 'dinpro-bold';
		text-decoration: underline;
	}

	.news-content p strong, .news-content p b {
		font-family: 'dinpro-bold';
	}



/* Darbi */
.section {
	width: 952px;
	margin: 0 auto;
	padding: 50px 0 0 0;
}
	
	.section h1 {
		font-size: 35px;
		color: #291c36;
		line-height: 41px;
		text-transform: uppercase;
		margin: 0 0 25px 0;
	}
	
	.section .jobs {
		width: 1100px;
		height: 275px;
		overflow: hidden;
		/*background: url(img/scroller.png) no-repeat left bottom;*/
	}
	
		.section .jobs .item {
			float: left;
			width: 284px;
			margin-right: 50px;
		}
		
		.section .jobs .title {
			padding: 15px 0 0 0;
			font-size: 25px;
			line-height: 38px;
			text-transform: uppercase;
		}

		.section .jobs .title a { color: #291c36; }
		.section .jobs .title a:hover { color: #000; }
		
		
/* Popup layer */
.overlay {
	position: fixed; 
    z-index: 101; 
    top: 0px; 
    left: 0px; 
    height: 100%; 
    width: 100%; 
    background: url(img/overlay.png); 
    display: none;
}

.container {
	position: fixed;
	z-index: 102;
	width: 1005px;
	min-height: 500px;
	top: 65px;
	left: 50%;
	margin-left: -502px;
	background: #fff;
	display: none;
}

	.container .close {
		position: absolute;
		width: 129px;
		height: 44px;
		padding: 6px 0 0 30px;
		margin: -34px 0 0 846px;
		cursor: pointer;
		color: #fff;
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'dinpro-light';
		background: url(img/bg-close.png); 
	}
	
	.container .navi-left {
		position: absolute;
		margin: 240px 0 0 -35px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		/*background: url(img/btn-left.png); */
	}
	
	.container .navi-right {
		position: absolute;
		margin:  240px 0 0 993px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		/*background: url(img/btn-right.png); */
	}
	
	.container .content {
		
	}
	
		.container .content .left-side {
			float: left;
			width: 265px;
			margin: 30px 0 0 30px;
		}
			
			.container .content .left-side h2 {
				font-size: 25px;
				line-height: 33px;
				text-transform: uppercase;
				color: #291c36;
			}
			
			.container .content .left-side p {
				font-size: 15px;
				line-height: 24px;
				color: #291c36;
			}
			
			.vote-with {
				width: 265px;
				float: left;
				margin: 0 0 20px 20px;
			}
				
				.vote-with h6 {
					text-align: center;
					font-size: 25px;
					text-transform: uppercase;
					color: #fff;
					background: #291c36;
					padding-top: 11px;
					height: 39px;
					cursor: pointer;
				}
				
			.vote-with ul {
				position: absolute;
				display: none;
				list-style: none;
				padding: 0;
				margin: 0;
			}
			
				.vote-with ul li {
					height: 50px;
					text-align: center;
					font-size: 25px;
					text-transform: uppercase;
					color: #fff;
					background: #291c36;
				}
				
				.vote-with ul img {
					display: block;
				}
		
		.container .content .right-side {
			float: left;
			width: 669px;
			margin: 30px 0 0 16px;
		}
		
			.right-side .media {
				height: 450px;
				padding: 0 0 30px 0;
			}
		
			.bottom .buttons {
				overflow: hidden;
				float: right;
				width: 639px;
				margin: 10px 35px 0 15px;
			}
			
				.bottom .buttons p {
					float: left;
					width: 100px;
					font-size: 25px;
				}
				
					.bottom .buttons p img {
						margin: 0 0 -3px 7px;
					}
				
				.bottom .buttons div {
					float: right;
					position: relative;
					left: -50%;
					text-align: left;
				}
				
					.bottom .buttons ul {
						list-style: none;
						overflow: hidden;
						position: relative;
						left: 50%;
						margin-top: 5px;
					}
					
						.bottom .buttons ul li {
							float: left;
							text-align: center;
							margin: 0 10px 0 0;
						}
						
							.bottom .buttons ul li a {
								display: block;
								width: 17px;
								height: 17px;
								/*background: url(img/bg-switch-popup.png) no-repeat left;*/
							}
							
								.bottom .buttons ul li a:hover, .bottom .buttons ul li a.ac {
									/*background: url(img/bg-switch-popup.png) no-repeat right;*/
								}
							
		.container .content .bottom {
			clear: both;
		}
	
.insert-ok {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 20px 0;
	color: #ff0000;
}


.news-paging {
	height: 49px;
	clear: both;
	display: none;
	/*border-right: 440px solid #fff;*/
}
					
	.news-paging ul {
		overflow: hidden;
		list-style: none;
		padding: 10px 0 0 0;
	}
					
		.news-paging ul li {
			float: left;
			width: 29px;
			height: 27px;
			margin: 0 10px 0 0;
		}
						
			.news-paging ul li a {
				display: block;
				width: 29px;
				height: 26px;
				background: #000;
				text-align: center;
				color: #fff;
				font-size: 23px;
				padding: 1px 0 0 0;
				font-family: 'rufinaregular';
			}
							
			.news-paging ul li a.ac, .news-paging ul li a:hover {
				background: #a2221d;
			}
			


.uploaded-file {
	height: 75px;
	background: #1cbbb4;
	text-align: center;
	line-height: 75px;
	color: #fff;
	width: 569px;
}
	
	.uploaded-file .delete-job-file {
		position: absolute;
		margin-top: -65px;
		margin-left: 555px;
	}


.file-upload {
	overflow: hidden;
}

	.file-upload .data {
		float: left;
		width: 570px;
	}
	
		.file-upload .data .file {
			float: left;
			width: 385px;
		}
	
		.file-upload .data .delete {
			float: left;
			width: 30px;
			margin: 2px 0 0 0;
		}
		
			.file-upload .data .delete span {
				color: #ff0000;
			}
	
	.file-upload .info {
		float: right;
		width: 210px;
		background: #851b21;
		color: #fff;
		font-size: 11px;
		padding: 0;
	}
	.page-content .form .file-upload .info p { 
		width: 170px; 
		font-size: 11px; 
		padding: 0; 
		line-height: 16px;
		margin: 10px 10px 0 10px;
	}


.login-box,
.restore-pass {
	position: fixed;
	z-index: 103;
	top: 10%;
	left: 50%;
	display: none;
}
.login-box {
    margin-left: -198px;
    width: 395px;
}
.restore-pass {
    width: 583px;
    margin-left: -292px;
}

	.login-box p.close,
	.restore-pass p.close {
		overflow: hidden;
	}
	
		.login-box p.close a,
		.restore-pass p.close a {
			float: right;
			display: block;
			width: 82px;
			height: 82px;
			background: url(img/btn-close.png) no-repeat bottom;
		}
		
			.login-box p.close a:hover,
			.restore-pass p.close a:hover {
				background: url(img/btn-close.png) no-repeat top;
			}
			
	.login-box p.img,
	.restore-pass p.img {
		text-align: center;
		padding: 0 0 55px 0;
	}
	
	.login-box p.text,
	.restore-pass p.text {
		text-align: center;
		padding: 50px 0 25px 0;
		font-size: 16px;
		color: #b3b3b3;
	}
	
		.login-box p.text a,
		.restore-pass p.text a {
			color: #dac516;
		}
	
	.login-box form{
		width: 223px;
		margin: 0 0 0 86px;
	}
	
    .restore-pass form{
        width: 584px;
        margin: 0 0 0 43px;
    }
	
	.login-box fieldset,
	.restore-pass fieldset {
		padding: 0 0 22px 0;
	}
	
		.login-box label,
		.restore-pass label {
			display: block;
			font-size: 16px;
			color: #b3b3b3;
			margin: 2px 3px 3px 1px;
		}
		
		.login-box input,
		.restore-pass input{
			width: 186px;
			height: 35px;
			background: #fff;
			border: none;
			color: #4b4b4b;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			padding: 0 15px 0 15px; 
		}
		
		.login-box input:focus, .login-box input:active, .login-box input.submit:focus, .login-box input.submit:active,
		.restore-pass input:focus, .restore-pass input:active, .restore-pass input.submit:focus, .restore-pass input.submit:active {
			outline: none;
		}

	.login-box input.error, .login-box input.submit,
	.restore-pass input.error, .restore-pass input.submit{
		color: #c22828;
		border-left: 4px solid #c22828;
		padding-left: 11px;
	}
	
	.login-box input.submit{
	    margin: 15px 0 0 0;
	}
	.restore-pass input.submit{
        padding: 0px;
        line-height: 0px;
        font-family: 'dinpro';
        margin: 23px 0 0 35px;
	}
	.login-box input.submit,
    .restore-pass input.submit {
		width: 225px;
		background: none;
		border: none;
		color: #fff;
		text-decoration: underline;
		font-size: 25px;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
	}
	
	a.login-restore{
        color: #dac516;
        margin-left: 100px;
	}
	.restore-pass .fff{
	     color:#fff;
	     margin: -12px 0 32px 0;
	}
		
		
		
		
.register {
	width: 1002px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 50px;
}

	.leftside {
		float: left;
		width: 273px;
		height: 746px;
		padding: 35px 30px 0 30px;
	}
	
		ul.submenu {
			list-style: none;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
		
			ul.submenu li {
				padding: 0 0 30px 0;
			}
		
				ul.submenu li a {
					font-size: 25px;
				}
				
				ul.submenu li a.ac, ul.submenu li a:hover { text-decoration: underline; }
				
				ul.submenu li ul {
					list-style: none;
					padding: 3px 0 0 25px;
					padding: 0;
				}
					
					ul.submenu li ul li {
						padding: 4px 0 4px 0;
					}
					
						ul.submenu li ul li a {
							font-size: 15px;
						}
						
						ul.submenu li ul li a.ac, ul.submenu li ul li a:hover {
							text-decoration: none;
							
						}
		
		
	.login-text {
		padding: 0 25px 0 25px;
	}
		
		.login-text p {
			padding: 0 0 15px 0;
		}
		
		.login-text a {
			text-decoration: underline;
		}
	
	.register .area {
		width: 669px;
		height: 801px;
	}
	
		.register .area h1 {
			font-size: 35px;
			color: #fff;
			padding: 0 0 40px 0;
			font-weight: normal;
			text-transform: uppercase;
			text-align: center;
		}
		
		.register .area .types {
			width: 619px;
			height: 52px;
			list-style: none;
			margin: 0 0 24px 23px;
			padding: 0;
			overflow: hidden;
			background: url(img/bg-tabs-1.png) no-repeat;
		}
		
		.register .area .types2 {
			background: url(img/bg-tabs-2.png) no-repeat;
		}
		
			.register .area .types li {
				float: left;
				width: 309px;
				text-align: center;
				text-transform: uppercase;
				font-size: 22px;
				padding: 14px 0 0 0;
			}
				
				.register .area .types li a {
					display: block;
					color: #fff;
				}
		
		.register .area .form {
			width: 571px;
			margin: 0 auto;
			overflow: hidden;
		}
		
			.register .area .form .col {
				float: left;
				width: 237px;
			}
			
			.register .area .form fieldset {
				padding: 0 0 17px 0;
			}
			
				.register .area .form fieldset ul {
					list-style: none;
					padding: 0;
					margin: 0;
				}
				
					.form fieldset ul input {
						float:left;	
						margin: 2px 0 0 0;
					}
					
						.form fieldset ul li {
							overflow: hidden;
							padding: 0 0 7px 0;
						}
						
					.register .area .form ul label {
						float:left;	
						margin: 0 0 0 10px;
					}
				
				.register .area .form label {
					display: block;
					font-size: 16px;
					color: #b3b3b3;
					margin: 0 3px 2px 1px;
				}
				
				.register .area .form input[type=text], .register .area .form input[type=password] {
					width: 207px;
					height: 35px;
					background: #fff;
					border: none;
					color: #4b4b4b;
					font-size: 16px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					padding: 0 15px 0 15px; 
				}
				
				.register .area .form input[type=submit] {
					width: 265px;
					background: none;
					border: none;
					color: #fff;
					text-decoration: underline;
					font-size: 35px;
					text-align: center;
					margin: 22px 0 0 155px;
					text-transform: uppercase;
					font-weight: normal;
				}
				
				.register .area .form input.error {
					color: #c22828;
					border-left: 4px solid #c22828;
					padding-left: 11px;
				}
	
				input:focus, input:active, input.submit:focus, input.submit:active {
					outline: none;
				}
			
			.register .area .form p {
				clear: both;
			}
		
		
		
		
			
.courier-request-box {
	position: absolute;
	top: 760px;
	right: 15%;
	width: 461px;
	height: 158px;
	background: url(img/bg-courier-request-box.png) no-repeat top;
	padding: 22px 0 5px 0;
	font-family: Tahoma;
	color: #fff;
	font-size: 12px;
	display: none;
}

	.courier-request-box p {
		overflow: hidden;
		padding: 0 0 5px 0;
		margin: none;
	}
	
	.courier-request-box label {
		float: left;
		width: 204px;
		text-align: left;
		margin: 8px 3px 4px 2px;
	}
	
	.courier-request-box input {
		float: left;
		width: 204px;
		height: 22px;
		background: #000;
		border: none;
		color: #fff;
	}
	
		input.input-long {
			width: 417px;
		}
	
	.courier-request-box input.error {
		float: left;

		height: 22px;
		background: #fff;
		border: none;
		color: #a2221d;
	}
	
	.courier-request-box input.submit {
		width: 76px;
		height: 24px;
		background: #000;
		color: #fff;
		font-size: 16px;
		text-align: center;
		font-family: 'rufinaregular';
		text-transform: uppercase;
		margin: 10px 0 0 20px;
	}

.popup {
	position: fixed;
	top: 20%;
	width: 292px;
	background: #ffffff;
	left: 50%;
	margin-left: -146px;
	display: none;
	z-index: 104;
}

	.popup .close {
		float: right;
		overflow: hidden;
		padding: 5px 5px 0 0;
	}
	
	.popup .c {
		width: 200px;
		padding: 50px 0 50px 0;
		text-align: center;
		color: #291C36;
		font-size: 15px;
		margin: 0;
		margin-left: 46px;
	}
	
	.popup a{
		color:#000;
	}


.vote {
	overflow: hidden;
	padding: 7px 0 0 0;
	font-size:16px;
	color: #a2221d;
}
	
	.vote span {
		line-height:30px;
	}

	.vote .button {
		float: left;
		width: 315px;
		height: 20px;
	}
	
		.vote .button img {
			margin: 0 0 -5px 5px;
		}
	
	.vote .votes {
		float: right;
		width: 50px;
		text-align: right;
		font-size: 18px;
		color: #ea9930;
		margin-top: 2px;
	}
	

.popup-image-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align:center;
	display: none;
	background:black;
    opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    overflow: visible;
}	

.popup-image {
	position: fixed;
	top: 5%;
	width: 100%;
	left: 50%;
	margin-left: -50%;
	text-align:center;
	display: none;
}	

.popup-image img {
	max-width:90%;
	max-height:700px;
}

footer {
	width: 1005px;
	margin: 0 auto;
	padding: 0 0 58px 0;
}		

	footer ul {
	    list-style: none;
		overflow: hidden;
		margin: 0 auto;
		width: 480px;
		padding: 20px 50px 10px 0;
	}
	
		footer ul li {
			float: left;
			margin: 0 28px 0 0;
			font-size: 21px;
			text-transform: uppercase;
		}
		
		footer ul li:last-child {
			margin: 0;
		}
			
			footer ul li a {
				color: #fff;
			}
			
			footer ul li a.ac, footer ul li a:hover {
				color: #000;
			}
					
		.twitter {
			float: right;
			width: 59px;
			height: 40px;
			margin: -50px 145px 0 0;
		}
		
			.twitter a {
				display: block;
				width: 59px;
				height: 40px;
				background: url(img/twiter_poga.png) no-repeat;
			}
			
			/*
			.twitter a:hover {
				display: block;
				width: 42px;
				height: 42px;
				background: url(img/twiter_poga.png) no-repeat;
			}
			*/
			
		.copyright {
		    clear: both;
			font-size: 12px;
			color: #291c36;
			padding: 25px 0 0 0;
			text-align: center;
		}

                .line1 a{
                    margin-right: 32px;
                }
                
                .line2 a{
                    margin-right: 22px;
                }
                
                .line3 a{
                    margin-right: 13px;
                }
                
                .line a.last {
                    margin: 0;
                }
		
		

.shares {
	list-style: none;
	margin: 0;
	padding: 15px 0 15px 25px;
	overflow: hidden;
}

	.shares li {
		float: left;
		margin: 0 20px 0 0;
	}
	
.to-top {
	padding: 20px 0 20px 0;
	text-align: center;
}
	
	.to-top img {
		cursor: pointer;
	}
	
	
	
.popup-registration {
	position: absolute;
	display: none;
	top: 5%;
	width: 669px;
	left: 50%;
	margin-left: -334px;
	z-index: 103;
}

	.popup-registration .close {
		height: 100px;
		overflow: hidden;
	}
		
		.popup-registration .close a {
			float: right;
			display: block;
			width: 82px;
			height: 82px;
			background: url(img/btn-close.png) no-repeat bottom;
		}
		
			.popup-registration .close a:hover {
				background: url(img/btn-close.png) no-repeat top;
			}
			
			

.jury-left {
	display: none;
	position: absolute;
	margin: 0;
	width: 122px;
	height: 472px;
	cursor: pointer;
	z-index: 103;
}

	.jury-left a {
		display: block;
		width: 82px;
		height: 82px;
		margin: 210px 10px 0 0;
		background: url(img/jury-left.png) no-repeat top;
	}
	
	.jury-left:hover > a {
		background: url(img/jury-left.png) no-repeat bottom;
	}
	
.jury-right {
	display: none;
	position: absolute;
	margin: -472px 0 0 1127px;
	width: 122px;
	height: 472px;
	cursor: pointer;
	z-index: 103;
}
	
	.jury-right a {
		display: block;
		width: 82px;
		height: 82px;
		margin: 210px 0 0 40px;
		background: url(img/jury-right.png) no-repeat top;
	}
	
	.jury-right:hover > a {
		background: url(img/jury-right.png) no-repeat bottom;
	}
	
.jury-popup {
	position: fixed;
	display: none;
	top: 5%;
	width: 1250px;
	left: 50%;
	margin-left: -625px;
	z-index: 103;
}
	
	.jury-popup .close {
		height: 100px;
		overflow: hidden;
	}
		
		.jury-popup .close a {
			margin-right: 35px;
			float: right;
			display: block;
			width: 82px;
			height: 82px;
			background: url(img/btn-close.png) no-repeat bottom;
		}
		
			.jury-popup .close a:hover {
				background: url(img/btn-close.png) no-repeat top;
			}
	
	.jury-popup .c {
		margin: 0 auto;
		width: 1005px;
		height: 472px;
		background: #fff;
		overflow: hidden;
	}
	
		.jury-popup .c .image {
			float: left;
			width: 687px;
			height: 472px;
			background: #ccc;
		}
		
			.jury-popup .c .image img { display: block; }
			
		.jury-popup .c .about {
			float: right;
			width: 295px;
		}
			
			.jury-popup .c .about h2 {
				padding: 50px 10px 5px 0;
				font-size: 25px;
				color: #291c35;
				font-weight: normal;
				text-align: center;
			}
			
			.jury-popup .c .about h3 {
				padding: 0 10px 0 0;
				font-size: 15px;
				color: #291c35;
				font-weight: normal;
				text-align: center;
				margin: 0 0 25px 0;
			}
	
		.scrollable-content div {
			margin-right: 10px;
			height: 280px;
			overflow-y: scroll;
		}
		
		.scrollable-content div::-webkit-scrollbar {
		    width: 6px;
		}
		
		.scrollable-content div::-webkit-scrollbar-track {
		    border-radius: 4px;
		}
		
		.scrollable-content div::-webkit-scrollbar-thumb {
		    border-radius: 4px;
		    background: #8c8c8c; 
		}
		
		.scrollable-content p {
			padding: 0 15px 10px 0;
			color: #291c35;
			font-size: 15px;
		}



.courier {
	display: none;
	overflow: hidden;
	padding: 0 0 20px 0;
	margin: 0 20px 20px 0;
	border-bottom: 1px solid #55606e;
}

	.courier .checkbox {
		overflow: hidden;
		padding: 0 0 20px 0;
	}

		

/*adwards programm added(31.mart.14)*/
.pr_container{
	width:100%;
	height:auto;
	 margin-top: 25px;
}

.pr_item{
	width:100%;
	height:auto;
}

.pr_line{
	width:100%;
	height:1px;
	background-color:#e9e9e9;
	margin-bottom:50px;
}

.pr_line_zero{
	width:100%;
	height:1px;
	background-color:#D1D1D1;
	margin-bottom:50px;
}

.pr_time{
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'dinpro-bold';
    height: 100px;
    line-height: 24px;
    margin-left: 115px;
    text-align: center;
    width: 100px;
    position: absolute;
}

.pr_time_text{
	margin-top:26px;
}

.pr_pic{
    margin-left: 358px;
    min-height: 100px;
    position: absolute;	
}

.pr_pic_texts{
    height: auto;
    margin-left: 120px;
    width: 526px;
    color:#291c36;
}

.pr_item_title{
    font-family: 'dinpro-medium';
    font-size: 25px;
    line-height: 25px;
    font-weight: normal;
}

.pr_item_subtitle{
    font-family: 'dinpro-medium';
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px;
}

.pr_item_text{
    font-family: 'dinpro';
    font-size: 15px;
    line-height: 25px;
    margin-left: 357px;
    margin-top: 189px;
    color:#291c36;
    padding-bottom: 43px;
        margin-bottom: 38px;
}

.pr_prepend_container{
    font-size: 15px;
    line-height: 25px;
    color:#291c36;
    margin-bottom: 43px;
}

.pr_prepend_container a{
	text-decoration:underline;
}

.pr_append_container{
    font-size: 15px;
    line-height: 25px;
    color:#291c36;
    margin-bottom: 43px;
}

.pr_append_container a{
	text-decoration:underline;
}

.pr_mailto{
    text-decoration: underline;
}

.pr_time_text_offs {
   background-color: #45B9AF;
    margin-top: 54px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.pr_time_text_offs a{
    color: #FFFFFF !important;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:link{
	/*color:#000000;*/
}