.ins_scroll{
	/*height:258px;*/
	height:auto;
}

.jobs{
	width:952px !important;
	height:auto;
}

.jspVerticalBar{
	display:none;
}

.jspDrag{
	height:10px !important;
	background-color:#291c36;
}

.jspHorizontalBar{
	height:10px;
}

.jspTrack{
	background-color:#a1a1a1;	
}

.horizontal-only{
	height: auto;
}

.jspPane{
	/*height:275px !important;*/
}

.section{
    margin: 50px auto 0 auto;
    padding: 0;
    width: 952px;
}



.section .jobs .title {
    font-size: 18px;
    line-height: 20px;
    max-height: 65px;
    overflow: hidden;
    text-transform: uppercase;
}

.section .jobs .item {
    float: left;
    margin-right: 50px;
    width: 284px;
    /*height:248px;*/
}


.section .jobs {
	height:auto;
    min-height: 240px;
    overflow: hidden;
    width: 1100px;
}

.clamper{
	max-height:95px;
	overflow: hidden;
}

.clampdots{
	display:none;
}

.container .content .bottom {
    clear: both;
    height: 70px;
    width: 1005px;
}


.pop00{
	display:none;
}


.container .navi-left {
	background-image: url("img/pop_ll.png");
    cursor: pointer;
    margin: 3px 0 0 -155px;
    position: absolute;
    width: 156px;
    height: 573px;
}

.container .navi-right {
	background-image: url("img/pop_rr.png");
    cursor: pointer;
    margin: 7px 0 0 1005px;
    position: absolute;
    width: 156px;
    height: 573px;
}


.bottom .buttons ul li a {
	display: block;
	width: 17px;
	height: 17px;
	background-image: url(img/dots13.png) !important;
}
							
.bottom .buttons ul li a:hover, .bottom .buttons ul li a.ac {
	background-image: url(img/dots13a.png)  !important;
}

.balsot_rest{
    font-size: 16px !important;
    padding-bottom: 5px !important;
    padding-top: 6px !important;
}

.pop_media_img{
    height: 376px;
    width: 668px;
}

._pop_media_img{
	display:block;
	margin: auto;
	max-width: 668px;
}