.login-box input[type=text], .login-box input[type=password],
.restore-pass input[type=text] {
	height: 26px;
	padding-top: 9px;
}

.register .area .form input[type=text], .register .area .form input[type=password] {
	height: 26px;
	padding-top: 9px;
}

.insert-form input[type=text] {
	height: 32px;
	padding-top: 16px;
}



.sponsors div {
		/*background-image: url(img/adwards-sponsors-1906x518pix_trans.png);*/
		background-size: 953px 259px;
   	 	width: 953px;
   	 	height: 259px;
	}
	
.sponsors img{
   	 	width: 953px;
   	 	height: 259px;
}	

	/* for high resolution display */
	@media only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
		.image {
		    background: url(img/adwards-sponsors-2x.png) no-repeat;
		    background-size: 953px 259px;
		}
	}
