.insert-form {


	float: left;


	width: 620px;


}


		


	.insert-form .forma {


		background: #e9e9e9;


		overflow: hidden;


		padding: 25px 0 25px 25px;


	}


		


	.forma-col {


		float: left;


		width: 282px;


	}


	


		.forma-col div {


			padding: 0 0 24px 0;


		}


	


.insert-form input[type=submit] {


	width: 280px;


	height: 25px;


	background: #1cbbb4;


	font-size: 15px;


	line-height: 25px;


	color: #fff;


	text-align: center;


	text-transform: uppercase;


	border: none;


	margin-left: 150px;


}


		


.insert-form input[type=text] {


	width: 252px;


	height: 48px;


	background: #fff;


	padding: 0 15px 0 15px;


	font-size: 15px;



	border: none;


}





.insert-form input[type=text].error {


	color: #c22828;


	border-left: 4px solid #c22828;


	padding-left: 11px;


}





.insert-form textarea {


	width: 252px;


	height: 260px;


	background: #fff;


	padding: 15px 15px 15px 15px;


	font-size: 15px;


	line-height: 15px;


	border: none;


	overflow: auto;


	resize: none;


}


		


.insert-form textarea.error {


	color: #c22828;


	border-left: 4px solid #c22828;


	padding-left: 11px;


}


		


.forma-col .sections .selected {


	height: 34px;


	background: #55606e;


	margin: 0;


	padding: 16px 5px 0 8px;


	color: #fff;


	cursor: pointer;


	overflow: hidden;


}





.forma-col .selected .title {


	float: left;


	width: 230px;


	margin-left: 10px;


	padding: 0;


}





.forma-col .selected .ico {


	float: left;


	width: 19px;


	height: 10px;


	margin: 3px 0 0 0;


	padding: 0;


	background: url(img/arrow-white.png) no-repeat top;


}





.forma-col .selected .down {


	background: url(img/arrow-white.png) no-repeat bottom;


}





.forma-col .sections {


	padding: 0;


}





.forma-col .sections ul {


	display: none;


}








.forma-col .sections ul {


	display: none;


	margin: 0 0 25px 0;


	list-style: none;


	background: #fff;


	position: absolute;


	border-bottom: 2px solid #55606e;


	width: 283px;


	padding: 10px 0 15px 0;


}





	.forma-col .sections ul li {


		padding: 4px 0 4px 15px;


		font-size: 15px;


		color: #291c36;


		width: 268px;


		-moz-transition: all 0.5s;


		-webkit-transition: all 0.5s;


		-o-transition: all 0.5s;


		transition: all 0.5s;


	}


		


		.forma-col .sections ul li a { display: block; color: #291c36; text-decoration: none; }


		


		.forma-col .sections ul li:hover {


			background: #1cbbb4;


		}


		


			.forma-col .sections ul li:hover a { color: #fff; }








.forma-col .error .selected {


	padding-left: 4px;


	border-left: 4px solid #c22828;


}








.checkout {


	width: 569px;


	background: #e9e9e9;


	padding: 35px 25px 25px 25px;


}


	


	.checkout .price h2 {


		font-size: 25px;


	}


	


	.checkout .price p {


		font-size: 15px;


		padding: 5px 0 0 0;


	}


	


	.checkout .details {


		padding: 25px 0 0 0;


	}


		


		.checkout .details h2 {


			font-size: 25px;


			padding: 0 0 5px 0;


		}


		


		.checkout .details p {


			line-height: 21px;


			padding: 0 0 0 0;


		}


		


.checkout textarea {


	width: 539px;


	height: 95px;


	background: #fff;


	padding: 15px 15px 15px 15px;


	font-size: 15px;


	line-height: 15px;


	border: none;


	overflow: auto;


	resize: none;


}





.checkout textarea.error {


	color: #c22828;


	border-left: 4px solid #c22828;


	padding-left: 11px;


}


	


.checkout input[type=submit] {


	width: 280px;


	height: 25px;


	background: #1cbbb4;


	font-size: 15px;


	line-height: 25px;


	color: #fff;


	text-align: center;


	text-transform: uppercase;


	border: none;


	margin: 30px 0 0 289px;


}





	


.tabs {


	overflow: hidden;


	list-style: none;


	padding: 0;


	margin: 0 ;


}





	.tabs li {


		float: left;


	}


	


		.tabs li a {


			display: block;


			padding: 15px 15px 0px 15px;


			color: #291c36;


			width: 280px;


			height: 35px;


			font-size: 15px;


			text-align: center;


			text-transform: uppercase;


			font-weight: bold;


		}


		


		.tabs li a.ac {


			background: #e9e9e9;


		}


		


		


.ajax-file-upload-statusbar {


	border: 1px solid #0ba1b5;


	margin-top: 5px;


}





.ajax-file-upload-filename {


	display: none;


	width: 100%;


	height: auto;


	margin: 0 5px 5px 10px;


	color: #807579


}


.ajax-file-upload-progress {


margin: 10px 10px 5px 10px;


position: relative;


width: 450px;


border: 1px solid #ddd;


padding: 1px;


border-radius: 3px;


display: inline-block


}


.ajax-file-upload-bar {


background-color: #0ba1b5;


width: 0;


height: 20px;


border-radius: 3px;


color:#FFFFFF;


}


.ajax-file-upload-percent {


position: absolute;


display: inline-block;


top: 3px;


left: 48%


}


.ajax-file-upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;


-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;


box-shadow: inset 0 39px 0 -24px #e67a73;


background-color: #e4685d;


-moz-border-radius: 4px;


-webkit-border-radius: 4px;


border-radius: 4px;


display: inline-block;


color: #fff;


font-family: arial;


font-size: 13px;


font-weight: normal;


padding: 4px 15px;


text-decoration: none;


text-shadow: 0 1px 0 #b23e35;


cursor: pointer;


vertical-align: top;


margin-right:5px;


margin-top: 10px;


}


.ajax-file-upload-green {


background-color: #77b55a;


-moz-border-radius: 4px;


-webkit-border-radius: 4px;


border-radius: 4px;


margin: 0;


padding: 0;


display: inline-block;


color: #fff;


font-family: arial;


font-size: 13px;


font-weight: normal;


padding: 4px 15px;


text-decoration: none;


cursor: pointer;


text-shadow: 0 1px 0 #5b8a3c;


vertical-align: top;


margin-right:5px;


margin-top: 10px;


}





.ajax-file-upload {


	width: 569px;


	height: 75px;


	background: url(img/bg-file-upload.png) no-repeat;


	cursor:pointer;	


}


  


.ajax-upload-dragdrop


{





	border:2px dotted #A5A5C7;


	width:420px;


	color: #DADCE3;


	text-align:left;


	vertical-align:middle;


	padding:10px 10px 0px 10px;


}





.file_label {


	font-size: 15px;


	font-weight: bold;


	padding: 0 0 5px 10px;


}





.file_info {


	clear: both;


	font-size: 15px;


	padding: 15px 10px 15px 10px;


}





.file_info p {


	padding: 5px 10px 0 40px;


	background: url(img/bg-file-check.png) no-repeat left;


}








.jobs-section {


	float: left;


	width: 619px;


}





	.jobs-section .insert-new {


		padding: 0 0 25px 0;


	}


	


		.jobs-section .insert-new .add-button a {


			display: block;


			height: 51px;


			line-height: 51px;


			text-align: center;


			text-transform: uppercase;


			background: #1cbbb4;


			color: #fff;


			margin: 0 0 25px 0;


		}


		


	.jobs-section .info {


		background: #fff;


		padding: 25px 25px 15px 25px;


		line-height: 21px;


	}


		


		.jobs-section .info a {


			text-decoration: underline;


		}


	


.saved-job {


	margin: 0 0 25px 0;


}


	


	.saved-job .category {


		font-size: 25px;


		text-transform: uppercase;


		padding: 0 0 15px 0;


	}


	


	.saved-job .info {


		background: #fff;


		overflow: hidden;


	}


	


		.saved-job .info h2 {


			font-size: 25px;


			padding: 0 0 10px 0;


		}


		


		.saved-job .info p {


			font-size: 15px;


			line-height: 21px;


			padding: 0 0 30px 0;


		}


		


		.saved-job .info .delete {


			display: block;


			float: left;


			width: 280px;


			height: 25px;


			line-height: 25px;


			text-decoration: none;


			text-transform: uppercase;


			text-align: center;


			color: #fff;


			background: #c2c1c2;


		}


		


		.saved-job .info .edit {


			display: block;


			float: right;


			width: 280px;


			height: 25px;


			text-align: center;


			line-height: 25px;


			text-decoration: none;


			text-transform: uppercase;


			color: #fff;


			background: #1cbbb4;


		}


	


	


	


	


