@font-face {

    font-family: 'dinpro';

    src: url('../fonts/dinpro-regular-webfont.eot');

    src: url('../fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/dinpro-regular-webfont.woff') format('woff'),

         url('../fonts/dinpro-regular-webfont.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'dinpro-medium';

    src: url('../fonts/dinpro-medium-webfont.eot');

    src: url('../fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/dinpro-medium-webfont.woff') format('woff'),

         url('../fonts/dinpro-medium-webfont.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;



}


@font-face {

    font-family: 'dinpro-bold';

    src: url('../fonts/dinpro-bold-webfont.eot');

    src: url('../fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/dinpro-bold-webfont.woff') format('woff'),

         url('../fonts/dinpro-bold-webfont.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'dinpro-light';

    src: url('../fonts/dinpro-light-webfont.eot');

    src: url('../fonts/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/dinpro-light-webfont.woff') format('woff'),

         url('../fonts/dinpro-light-webfont.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;



}





div, span, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp,

small, strong, sub, sup, var, dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, figcaption, figure,

footer, header, hgroup, menu, nav, section, summary,

time, mark, audio, video {

  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  font: inherit;

  vertical-align: baseline;

}





article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section {

  display: block;

}



blockquote, q { quotes: none; }

blockquote:before, blockquote:after,

q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



html,body { 

	font-family: 'dinpro';

	font-size: 15px;

	color: #434242;

	margin: 0;

	padding: 0;

	border: 0;

	background: #c2c1c2;

}



/*

body#main {

	background: url(img/fons_1.jpg) no-repeat center top;

	background-attachment: fixed;

}



body#page1 {

	background: url(img/fons_2.jpg) no-repeat center top;

	background-attachment: fixed;

}



body#page2 {

	background: url(img/fons_3.jpg) no-repeat center top;

	background-attachment: fixed;

}

*/



select, input, textarea, button { font:99% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }



body { overflow-y: scroll; }

a { text-decoration: none; }

a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }

ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }

strong, th { font-weight: bold; }

td { vertical-align: top; }



sub, sup { font-size: 75%; line-height: 0; position: relative; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }



pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; } 

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

input:valid, textarea:valid   {  }

input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }



::-moz-selection{ background: #31253D; color:#fff; text-shadow: none; }

::selection { background:#31253D; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #a2221d; }



button {  width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }



body, select, input, textarea {  color: #444; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a { color: #434242; }

a:hover { color: #000; }

