.ins_scroll{
	/*height:258px;*/
	height:auto;
}

.jobs{
	width:952px;
	height:auto;
}

.jspVerticalBar{
	display:none;
}

.jspDrag{
	height:10px !important;
	background-color:#291c36;
}

.jspHorizontalBar{
	height:10px;
}

.jspTrack{
	background-color:#a1a1a1;	
}

.horizontal-only{
	height: auto;
}

.jspPane{
	/*height:275px !important;*/
}

.section{
    margin: 500 auto 0 auto;
    padding: 0;
    width: 952px;
}



.section .jobs .title {
    font-size: 25px;
    line-height: 31px;
    max-height: 95px;
    overflow: hidden;
    text-transform: uppercase;
}

.section .jobs .item {
    float: left;
    margin-right: 50px;
    width: 284px;
    /*height:248px;*/
}


.section .jobs {
	height:auto;
    min-height: 300px;
    overflow: hidden;
    width: 1100px;
}

.clamper{
	max-height:95px;
	overflow: hidden;
}

.clampdots{
	display:none;
}

.container {
    background: none repeat scroll 0 0 #000;
    display: none;
    left: 50%;
    margin-left: -502px;
    min-height: 500px;
    position: absolute !important;
    top: 65px;
    width: 1005px;
    z-index: 102;
}

.container .content .bottom {
    clear: both;
    height: 70px;
    width: 1005px;
}


.pop00{
	display:none;
}


.container .navi-left {
	background-image: url("img/pop_ll.png");
    cursor: pointer;
    margin: 3px 0 0 -155px;
    position: absolute;
    width: 156px;
    height: 573px;
}

.container .navi-right {
    background-image: url("img/pop_rr.png");
    cursor: pointer;
    margin: 7px 0 0 1005px;
    position: absolute;
    width: 156px;
    height: 573px;
}


.bottom .buttons ul li a {
	display: block;
	width: 17px;
	height: 17px;
	background-image: url(img/dots13.png) !important;
}
							
.bottom .buttons ul li a:hover, .bottom .buttons ul li a.ac {
	background-image: url(img/dots13a.png)  !important;
}


.vote-with h6 {
 font-size: 22px;
    height: 39px;
    padding-top: 15px;
    cursor:auto;
}

/* 2015 */
a {
    color: #618da5;
}

html, body {
    min-height: 100%;
    background-color: #eeeeee !important;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
    position: relative;
    min-height: 100%;
}
.absolute-firstpage {
    background-color: #eeeeee;
    padding-top: 306px;
    z-index: 1;
}
.absolute-firstpage .main-news {
    margin-top: 35px;
}
.vidoverlay {
    background-color: #000;
    background-image: url('img/adwards_front2015.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
    
}
header, header.firstpage {
    width: 100%;
    margin-left: 0;
    left: 0;
    padding-bottom: 30px;
}
ul {
    z-index: 3;
}

.firstpage p.logo
{
    transition: all 0.55s ease;
    -ms-transition: all 0.55s ease;
    -moz-transition: all 0.55s ease;
    -webkit-transition: all 0.55s ease;
}

.logo a svg {
    transition: all 0.55s ease;
    -ms-transition: all 0.55s ease;
    -moz-transition: all 0.55s ease;
    -webkit-transition: all 0.55s ease;

}
.logo a svg path {
    transition: all 0.55s ease;
    -ms-transition: all 0.55s ease;
    -moz-transition: all 0.55s ease;
    -webkit-transition: all 0.55s ease;
}

.front-logo svg path {
    fill: #eeeeee;
}

.logo .front-logo svg {
    /*width: 360px;*/
    /*max-width: 360px;*/
    /*width: 85%;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;*/
    /*height: 255px;*/
    width: 25%;
    height: 25%;
}
.links {
    width: 100%;
    height: 30px;
    left: 0;
    background-color: #e5e4e4;
    padding: 0;
    font-family: 'dinpro-medium', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}

.links ul li, .links ul li a, nav ul li a {
    color: #5a5a5a;
    transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
}
nav.invert-nav ul li a{
    color: #eeeeee;
}
.links ul {
    position: static;
    display: inline-block;
    text-align: center;
    width: 100%;
    
    left: 0;
}
.links ul li {
    float: none;
    display: inline-block;
}
nav ul {
    font-family: 'dinpro-medium', sans-serif;
}
nav ul li {
    padding-bottom: 7px;
}
nav ul li a:hover, .links ul li a:hover {
    color: #333333;
}
nav ul li a.ac {
    color: #618da5;
    padding-bottom: 3px;
    border-bottom: 2px solid #618da5;
    font-weight: bold;
}

.main-news {
    width: 988px;
    height: 343px;
}

	.main-news .items {
		width: 100%;
		height: 100%;
		background: #3c2829;
		border:0;
	}
        .main-news .items .img {
		width: 648px;
		height: 100%;
		float: left;
		margin: 0;
	}
        .main-news .items .data {
		width: 280px;
		float: left;
		margin: 0;
                margin-left: 32px;
                margin-top: 30px;
	}
        .main-news .items .data h1 {
		font-size: 24px;
		color: #eeeeee;
		padding: 0;
                text-transform: none;
                line-height: 30px;
                margin-bottom: 35px;
	}
        .main-news .items .data h2 {
		font-size: 24px;
		font-family: 'dinpro-bold', sans-serif;
		line-height: 48px;
                padding: 0;
                margin: 0;
	}
        .main-news .items .data h2 a {
            color: #3c2829;
            background-color: #eeeeee;
            display: block;
            width: 194px;
            height: 50px;
            text-align: center;
            transition: background-color 0.2s ease;
            -ms-transition: background-color 0.2s ease;
            -moz-transition: background-color 0.2s ease;
            -webkit-transition: background-color 0.2s ease;
        }
        .main-news .items .data h2 a:hover {
            text-decoration: none;
            background-color: #ded3d3;
        }
.news {
    width: 988px;
    margin-top: 57px;
    margin-bottom: 15px;
}
        .news-item {
            margin-left: 0;
            margin-bottom: 40px;
            margin-right: 32px;
            width: 308px;
        }
        .news > div:nth-of-type(3n) {
            margin-right: 0;
        }
        .news-item .image {
            width: 100%;
            height: 163px;
        }
        .news-item .title {
            text-transform: none;
            font-family: 'dinpro-medium', sans-serif;
            font-size: 24px;
            line-height: 30px;
        }
        .news-item .title a {
            color: #5a5a5a;
        }
        .sponsors {
            width: 988px;
            margin-top: 0;
        }    
        .sponsors h2 {
            color: #5a5a5a;
            font-family: 'dinpro-medium', sans-serif;
            line-height: 21px;
            margin-bottom: 37px;
        }
        .sponsors div {
            width: 988px;
            /*height: 251px;*/
            height: 364px;
            background-image: url('img/adwards15_sponsorsV3.png');
            background-size: cover;
        }
        .copyright {
            font-family: 'dinpro-medium', sans-serif;
            color: #3c2628;
            padding: 30px 0;
        }
        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding-bottom: 0;
            background-color: #3c2628;
            overflow: hidden;
        }
        footer ul {
            display:inline-block;
            vertical-align: middle;
            padding: 0;
            margin: 0;
            width: 400px;
        }
        footer div {
            vertical-align: middle;
            display: inline-block;
        }
        footer .centered {
            display: block;
            width: 988px;
            margin: 0 auto 0 auto;
        }
        footer ul li {
            font-size: 16px;
            font-family: 'dinpro-medium', sans-serif;
        }
        footer ul li a {
            color: #eeeeee;
        }
        footer ul li a:hover, footer ul li a.ac {
            color: #eeeeee;
            border-bottom: 1px solid #eeeeee;
        }
        .svg-img {
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
        .fb-icon {
            width: 21px;
            height: 21px;
            background-image: url('img/facebook.svg');
        }
        .tw-icon {
            width: 21px;
            height: 21px;
            background-image: url('img/twitter.svg');
            margin-left: 14px;
        }
        .social {
            padding-bottom: 2px;
        }
        .social a {
            vertical-align: middle;
        }
        .wrong {
            float: right;
        }
        .wrong a {
            width: 57px;
            height: 21px;
            background-image: url('img/wrong-logo.svg');
            margin-left: 10px;
        }
        .wrong h5 {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            font-family: 'dinpro-medium', sans-serif;
            color: #eeeeee;
        }


        .countdowner
        {
            /*position: absolute;
            top: 400px;
            width: 100%;*/
            position: relative;
            z-index: 99;
        }
        #countdown
        {
             font-family: 'dinpro-bold', sans-serif;
             font-size: 120px;
             color: white;
             text-align: center;
             padding-bottom: 10px;
        }
        #countdown-message
        {
            font-family: 'dinpro-medium', sans-serif;
             font-size: 21px;
             color: white;
             text-align: center;
        }
        .fittext
        {
            /*max-width: 890px;*/
            max-width: 50%;
            margin-right: auto;
            margin-left: auto;

        }
        @media screen and (max-height: 720px)
        {
            .fittext {
                max-width: 40%;
            }
        }
        .adwards-section-wrapper {
            background-color: #eeeeee;
        }
        .adwards-section-content p, .adwards-section-content tbody {
            font-size: 18px;
            font-family: 'dinpro', sans-serif;
            color: #5a5a5a;
            line-height: 1.7em;
            text-transform: none;
        }
        .adwards-section h2 {
            font-size: 108px;
            font-family: 'dinpro-bold', sans-serif;
            color: #f6f0ef;
            min-width: 40%;
            max-width: 1010px;
            padding: 150px 0 0 19%;
            line-height: 1.3em;
        }
        .adwards-section-content div {
            width: 650px;
            margin-left: auto;
            margin-right: auto;
        }
        .adwards-section-content p strong {
            font-size: 24px;
            font-family: 'dinpro-medium', sans-serif;
            font-weight: normal;
        }
        .adwards-section-content p a {
            color: #618da5;
            font-family: 'dinpro-medium', sans-serif;
        }
        .adwards-section-content p a:hover {
            border-bottom: 1px solid #618da5;
        }
        .adwards-section-content .section-wide {
            width: 988px;
        }
        .jury .item {
            width: 223px;
            height: 223px;
            margin: 0 32px 27px 0;
        }
        .jury .item .over {
            height: 153px;
            width: 203px;
            background-color: rgba(60,40,41,0.8);
            -khtml-opacity: 1;
            -moz-opacity: 1;
            -ms-filter: ”alpha(opacity=100)”;
            filter: alpha(opacity=100);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
            opacity: 1;
            color: #eeeeee;
            padding: 70px 10px 0 10px;
            transition: opacity 0.2s ease;
            -ms-transition: opacity 0.2s ease;
            -moz-transition: opacity 0.2s ease;
            -webkit-transition: opacity 0.2s ease;
        }
        .jury .item .over:hover {
            opacity: 0;
        }
        .jury .item .over h3 {
            font-size: 24px;
            font-family: 'dinpro-bold', sans-serif;
            opacity: 1;
        }
        .jury .item .over h4 {
            line-height: 20px;
            font-size: 14px;
            font-family: 'dinpro-medium', sans-serif;
            opacity: 1;
        }
        
        .jury-popup {
            width: 100%;
            position: absolute;
            top: 90px;
            pointer-events: none;
        }
        .jury-container {
            display: block;
            width: 1020px;
            margin: 0 auto;
        }
        .jury-container * {
            pointer-events: auto;
        }
        .jury-popup .scrollable-content div {
            height: auto;
            overflow: hidden;
        }
        .jury-popup .c {
            width: 988px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            background: #eeeeee;
            padding-bottom: 60px;
            
        }
        .jury-popup .c .image {
            width: 648px;
            height: 444px;
            float: none;
            margin: 60px auto 46px auto;
        }
        .jury-popup .c .about {
            width: 648px;
            float: none;
            clear: both;
            margin-left: auto;
            margin-right: auto;
            color: #5a5a5a;
            font-size: 18px;
            font-family: 'dinpro', sans-serif;
            line-height: 1.7em;
        }
        
        .jury-popup .c .about h2 {
            font-size: 24px;
            line-height: 24px;
            font-family: 'dinpro-medium', sans-serif;
            padding: 0;
            text-align: left;
            color: inherit;
            padding-bottom: 14px;
        }
        .jury-popup .c .about h3 {
            font-size: 14px;
            font-family: 'dinpro-bold', sans-serif;
            padding: 0;
            text-align: left;
            color: inherit;
            margin: 0 0 18px 0;
        }
        .jury-popup .c .about p {
            padding-bottom: 25px;
        }
        .jury-popup .c .about p:last-of-type {
            padding-bottom: 0;
        }
        .jury-popup .close {
            width: 988px;
            height: 62px;
            margin: 28px auto 0 auto;
            overflow: visible;
        }
        .jury-popup .close a {
            width: 32px;
            height: 32px;
            background: none;
            background-image: url('img/close-x.svg');
            margin-right: 0;
        }
        .jury-popup .close a:hover {
            background: none;
            background-image: url('img/close-x.svg');
        }
        .jury-right {
            position: fixed;
            top: 320px;
            right: calc(50% - 512px);
            z-index: 104;
        }
        .jury-left {
            position: fixed;
            top: 320px;
            left: calc(50% - 512px);
            z-index: 104;
        }
        .jury-right a {
            background-image: url('img/jury-right.svg');
            background-repeat: no-repeat;
            height: 100px;
            width: 48px;
        }
        .jury-left a {
            background-image: url('img/jury-left.svg');
            background-repeat: no-repeat;
            height: 100px;
            width: 48px;
        }
        
        .news-content {
            width: 648px;
            color: #5a5a5a;
        }
        .news-content h1 {
            font-size: 24px;
            line-height: 1.5em;
            font-family: 'dinpro-medium', sans-serif;
            color: inherit;
            text-transform: none;
            max-width: 70%;
            padding: 0 0 10px 0;
        }
        .news-content p {
            color: inherit;
            font-size: 18px;
            font-family: 'dinpro', sans-serif;
            padding: 0 0 25px 0;
            line-height: 30px;
        }
        .news-content p a {
            color: #618da5;
            font-family: 'dinpro-medium', sans-serif;
            font-size: 18px;
            text-decoration: none;
            text-transform: none;
        }
        .news-content p a:hover {
            border-bottom: 1px solid #618da5;
        }
        ul, ol {
            font-size: 18px;
            font-family: 'dinpro', sans-serif;
            padding: 0 0 25px 0;
            line-height: 30px;
        }
        
        /* KATEGORIJAS */ 
        .page-content .sections ul li.branded, .page-content .sections ul li.branded:hover {
            background: #618da5;
        }
        
        .page-content .sections ul li.branded {
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; 
        }
        .page-content .sections ul li.antalis {
            background: #0e074e;
        }     
        .page-content .sections .selected {
            background: #618da5;
            padding: 13px 19px 0 8px;
        }
        .selected .title {
            width: auto;
            font-size: 24px;
            font-family: 'dinpro-medium', sans-serif;
            text-transform: none;
        }
        .selected .ico {
            float: right;
            width: 32px;
            height: 16px;
            background: none;
            background-image: url('img/catdown_light.svg');
            background-size: cover;
            
        }
        .selected .down {
            background: none;
            background-image: url('img/catup_light.svg');
        }
        .page-content .format {
            background: #d1dadf;
            padding: 16px 19px 14px 8px;
        }
        .format .title {
            font-size: 18px;
            font-family: 'dinpro-medium', sans-serif;
            color: #5a5a5a;
        }
        .format .ico {
            float: right;
            width: 32px;
            height: 16px;
            background: none;
            background-image: url('img/catdown_dark.svg');
            background-size: cover;
            margin: 0;
        }
        .format .down {
            background: none;
            background-image: url('img/catup_dark.svg');
        }        
        .branding-logo {
            display: inline-block;
            position: relative;
            top: -5px;
            left: 35px;
        }
        .page-content .sections ul {
            margin: 0 0 25px 0;
            list-style: none;
            background: #fff;
            position: absolute;
            border-bottom: none;
            width: 733px;
            padding: 25px 0 25px 0;
        }
        .page-content .sections ul li {
            padding: 10px 0 10px 15px;
            text-transform: none;
            font-size: 15px;
            width: 718px;
        }
        .page-content .sections ul li:hover {
            background: #d1dadf;
        }
        .page-content .sections ul li a {
            color: #5a5a5a;
            font-size: 18px;
            font-family: 'dinpro-medium', sans-serif;
        }
        .page-content .sections ul li.branded a {
            color: #fff;
        }
        .page-content .sections ul li:hover a {
            color: #5a5a5a;
        }
        .page-content .sections ul li.branded:hover a {
            color: #000;
        }
        .page-content .format-content {
            padding: 0 25px 10px 25px;
            width: 683px;
            background: #fff;
            margin: 0 0 25px 0;
            border-top: none;
        }
        .page-content .format-content h3 {
            padding: 21px 0 5px 0;
            color: #5a5a5a;
            font-size: 14px;
            font-family: 'dinpro-bold', sans-serif;
            font-weight: normal;
            text-transform: none;
            line-height: 21px;
        }
        .page-content .format-content p {
            padding: 0 0 15px 0;
            line-height: 30px;
            font-size: 18px;
            font-family: 'dinpro', sans-serif;
        }

        /* LOGIN */
        .login-box, .restore-pass {
            top: 65px;
            left: 50%;
        }

        .login-box p.close, .restore-pass p.close {
            position: absolute;
            top: 0;
            right: -159px;
        }
        .login-box p.close a, .restore-pass p.close a {
            width: 32px;
            height: 32px;
            background: none;
            background-image: url('img/close-x.svg');
        }
        .login-box p.close a:hover, .restore-pass p.close a:hover {
            background: none;
            background-image: url('img/close-x.svg');
        }
        .login-box p.img, .restore-pass p.img {
            display: block;
        }
        .adwards-logo {
            background-image: url('img/adwards-logo2015white.svg');
            width: 204px;
            height: 142px;
        }
        .login-box input, .restore-pass input {
            width: 203px;
            height: 46px;
            background: #fff;
            border: none;
            color: #453233;
            font-size: 18px;
            font-family: 'dinpro-medium', sans-serif;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding: 0 10px 0 10px;
        }
        .login-box label, .restore-pass label {
            font-size: 14px;
            color: #fff;
            font-family: 'dinpro-bold', sans-serif;
            margin: 2px 9px 8px 12px;
        }
        .login-box input.submit, .restore-pass input.submit {
            display: block;
            width: 223px;
            height: 46px;
            background: #618da5;
            border: none;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            color: #fff;
            text-decoration: none;
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'dinpro-bold', sans-serif;
            padding: 0;
        }
        a.login-restore {
            font-family: 'dinpro', sans-serif;
            font-size: 14px;
            color: #fff;
            margin-left: 57px;
        }
        .login-box p.text, .restore-pass p.text {
            font-family: 'dinpro-medium', sans-serif;
            text-align: center;
            padding: 40px 0 25px 0;
            font-size: 14px;
            color: #fff;
        }
        .login-box p.text a, .restore-pass p.text a {
            display: inline-block;
            font-family: 'dinpro-bold', sans-serif;
            color: #618da5;
            margin-top: 15px;
        }
        
        /* REGISTER */
        .popup-registration {
            margin-top: 45px;
        }
        .register .area {
            width: 669px;
            height: auto;
        }
        .register .area h1 {
            font-size: 36px;
            color: #fff;
            padding: 0 0 52px 0;
            font-family: 'dinpro-medium', sans-serif;
            font-weight: normal;
            text-transform: none;
            text-align: center; 
        }
        .register .area .form {
            width: 478px;
        }
        .register .i-am {
            font-size: 24px;
            font-family: 'dinpro', sans-serif;
            color: #fff;
            height: 20px;
            width: 100px;
            text-align: center;
            line-height: 20px;
            margin: 0 auto 20px auto;
            
        }
        .register .area .form input[type=text], .register .area .form input[type=password] {
            width: 203px;
            height: 46px;
            background: #fff;
            border: none;
            color: #453233;
            font-size: 18px;
            font-family: 'dinpro-medium', sans-serif;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding: 0 10px 0 10px;
        }
        .register .area .form input[type=text].error, .register .area .form input[type=password].error {
            border: 1px solid red;
        }
        .register .area .form label {
            width: 202px;
            font-size: 14px;
            line-height: 10px;
            color: #fff;
            font-family: 'dinpro-bold', sans-serif;
            margin: 0 9px 10px 12px;
        }
        .register .area .form fieldset {
            padding: 0 0 24px 0;
        }
        .register .area .form .col {
            width: 223px;
            margin-top: 44px;
        }
        .register .register-dropdown {
            display: block;
            background: #fff;
            width: 223px;
            height: 46px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
            margin: 0 auto;
        }
        .register-dropdown .legal-status {
            font-size: 18px;
            font-family: 'dinpro-medium', sans-serif;
            color: #3c2829;
            line-height: 46px;
            width: 160px;
            vertical-align: middle;
            float: left;
            margin-left: 24px;
        }
        .register-dropdown .drop-arrow {
            float: right;
            width: 19px;
            height: 13px;
            background-image: url('img/drop-arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            margin: 19px 20px 14px 0;
        }
        .register .area .types {
            display: none;
            width: 223px;
            height: 92px;
            list-style: none;
            margin: 3px auto 0 auto;
            padding: 0;
            overflow: hidden;
            background: none;
            position: absolute;
            left: 0;
            right: 0;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }
        .register .area .types li {

            text-transform: none;
            background: #fff;
            padding: 0;
            width: 223px;
            cursor: pointer;
        }
        .register .area .types li:hover {
            background: #3c2829;
        }
        .register .area .types li:hover a {
            color: #fff;
        }
        .register .area .types li a {
            display: block;
            font-size: 18px;
            font-family: 'dinpro-medium', sans-serif;
            color: #3c2829;
            line-height: 46px;
        }
        .register .area .form input[type=submit] {
            display: block;
            width: 478px;
            height: 67px;
            background: #408852;
            border: none;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            color: #fff;
            text-decoration: none;
            font-size: 36px;
            font-family: 'dinpro-medium', sans-serif;
            text-align: center;
            margin: 0 auto;
            text-transform: uppercase;
            font-weight: normal;
        }
        .register .area input[type="radio"], .register .area input[type="checkbox"] {
            display: none;
        }
        .register .area input[type="radio"]+label, .register .area input[type="checkbox"]+label {
            cursor:pointer;
        }
        .register .area label.radio:before {
            content: "";
            display: inline-block;
            background-color: #fff;
            width: 14px;
            height: 14px;
            margin: 0 10px -2px -10px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border-radius: 7px;
        }
        .register .area label.radio-active:before {
            width: 6px;
            height: 6px;
            border: 4px solid #3a99fb;
        }
        .register .area label.checkbox:before {
            content: "";
            color: #3a99fb;
            display: inline-block;
            background-color: #fff;
            width: 14px;
            height: 14px;
            line-height: 15px;
            margin: 0 10px -2px -10px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            overflow: hidden;
            text-align: center;
            font-size: 18px;
            font-family: 'dinpro-bold', sans-serif;
            font-weight: bold;
        }
        .register .area label.checkbox-active:before {
            content: "\2713";
        }
        .register-boxes fieldset ul li {
            padding: 0 0 17px 0;
        }
        .register .area .register-boxes fieldset {
            padding: 0 0 14px 11px;
        }
        .popup-registration .close {
            position: absolute;
            top: 0;
            right: -52px;
        }
        .popup-registration .close a {
            width: 32px;
            height: 32px;
            background: none;
            background-image: url('img/close-x.svg');
        }
        .popup-registration .close a:hover {
            background: none;
            background-image: url('img/close-x.svg');
        }
        
        /* IESNIEGSHANA */
        .textdoc {
            display: block;
            width: auto;
            text-align: center;
            padding-top: 20px;
        }
        .leftside {
            vertical-align: top;
            text-align: left;
            display: inline-block;
            float: none;
            height: auto;
            width: 175px;
            padding: 0 85px 0 0;
        }
        .page-content {
            display: inline-block;
            text-align: left;
            float: none;
            width: 733px;
            font-family: 'dinpro', sans-serif;
            font-size: 18px;
            padding: 0 0 75px 0;
        }
        .page-content .page-image {
            width: 100%;
            height: 237px;
        }
        .page-content .page-image img {
            width: 100%;
            height: 100%;
        }
        .page-content p {
            width: 660px;
            padding: 0 0 20px 10px;
            color: #5a5a5a;
            line-height: 30px;
        }
        .page-content li {
            line-height: 30px;
        }
        ul.submenu li {
            padding: 0 0 20px 0;
        }
        ul.submenu li a {
            font-size: 18px;
            font-family: 'dinpro-medium', sans-serif;
            line-height: 30px;
            color: #777777;
        }
        ul.submenu li a:hover {
            border-bottom: 1px solid #777777;
            text-decoration: none;
        }
        ul.submenu li a.ac {
            color: #7c9eb1;
            font-family: 'dinpro-medium', sans-serif;
            border-bottom: 1px solid #7c9eb1;
            text-decoration: none;
        }
        .page-content p strong {
            font-weight: normal;
            color: inherit;
            font-size: 24px;
            font-family: 'dinpro-medium', sans-serif;
            text-transform: none;
        }
        
        div.jobs-section, div.insert-form {
            display: inline-block;
            text-align: left;
            float: none;
            width: 627px;
        }
        .insert-form .forma {
            background: #e6e6e6;
            padding: 25px 32px 33px 32px;
           }
        .tabs li a {
            color: #7f7f7f;
            width: 283px;
            height: 35px;
            font-size: 18px;
            text-align: center;
            text-transform: none;
            font-weight: normal;
            font-family: 'dinpro', sans-serif;
            }
            .tabs li a.ac {
                font-family: 'dinpro-bold', sans-serif;
                background: #e6e6e6;
                width: 284px;
            }
            .noprice-check {
                height: 30px;
            }
            .noprice-check label, .courier .checkbox label {
                color: #7f7f7f;
                font-size: 14px;
                font-family: 'dinpro-medium', sans-serif;
                cursor:pointer;
            }
            .pricechecks {
                margin-left: 10px;
            }
            .noprice-check input[type="checkbox"], .courier .checkbox input[type="checkbox"] {
                display: none;
            }
            .noprice-check label:before, .courier .checkbox label:before {
                content: "";
                color: #3a99fb;
                display: inline-block;
                background-color: #fff;
                width: 14px;
                height: 14px;
                line-height: 15px;
                margin: 0 10px -2px -10px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                overflow: hidden;
                text-align: center;
                font-size: 18px;
                font-family: 'dinpro-bold', sans-serif;
                font-weight: bold;
            }
            .noprice-check input[type="checkbox"]:checked+label:before,
            .courier .checkbox input[type="checkbox"]:checked+label:before {
                content: "\2713";
            }
            .courier .checkbox {
                margin-left: 10px;
                overflow: visible;
            }
            .courier p, .antalis-check-text {
                font-size: 16px;
                line-height: 1.7em;
                font-family: 'dinpro', sans-serif;
                color: #5a5a5a;
                margin: 10px 0;
            }
            .forma-col {
                width: 255px;
                overflow: hidden;
            }
            .full-col {
                width: 100%;
            }
            .forma-col div {
                padding: 0 0 14px 0;
            }
            .forma-col .sections .selected {
                height: 34px;
                background: #d1dadf;
                margin: 0;
                padding: 12px 5px 0 8px;
                color: #5a5a5a;
                cursor: pointer;
            }
            .forma-col .selected .title {
                font-size: 18px;
                margin-left: 15px;
                width: auto;
            }
            .forma-col .selected .ico {
                float: right;
                width: 32px;
                height: 16px;
                margin: 3px 16px 0 0;
                padding: 0;
                background: none;
                background-image: url('img/catdown_dark.svg');
            }
            .forma-col .selected .down {
                background: none;
                background-image: url('img/catup_dark.svg');
            }
            .forma-col .sections ul {
                display: none;
                margin: 0 0 25px 0;
                list-style: none;
                background: #fff;
                position: absolute;
                border-bottom: none;
                width: 563px;
                padding: 10px 0 15px 0;
            }
            .forma-col .sections ul li {
                padding: 4px 0 4px 15px;
                font-size: 15px;
                color: #291c36;
                width: 548px;
            }
            .forma-col .sections ul li:hover {
                background: #d1dadf;
            }
            .forma-col .sections ul li a {
                color: #5a5a5a;
                font-family: 'dinpro', sans-serif;
            }
            .insert-form input[type=text] {
                width: 230px;
                height: 46px;
                background: #fff;
                padding: 0 15px 0 10px;
                font-size: 14px;
                font-family: 'dinpro-medium', sans-serif;
                color: #7f7f7f;
                border: none;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
            }
            .insert-form input[type=submit] {
                width: 223px;
                height: 46px;
                background: #618da5;
                font-size: 24px;
                font-family: 'dinpro-bold', sans-serif;
                line-height: 25px;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                border: none;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                display: block;
                margin: 0 auto;
            }
            .forma h3 {
                font-weight: normal;
                font-size: 14px;
                font-family: 'dinpro-bold', sans-serif;
                color: #7f7f7f;
                padding: 8px 0 8px 10px;

            }
            .insert-form textarea {
                width: 230px;
                padding: 15px 15px 15px 10px;
                font-size: 14px;
                font-family: 'dinpro-medium', sans-serif;
                color: #7f7f7f;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                line-height: 15px;
            }
            .forma-col h3 {
                width: auto;
                float: left;
            }
            div.textcounter {
                float: right;
                padding: 8px 12px 8px 0;
            }
            .textcounter span {
                font-weight: normal;
                font-size: 14px;
                font-family: 'dinpro', sans-serif;
                color: #7f7f7f
            }
            .ajax-upload-dragdrop {
                border: none;
                width: auto;
                padding: 0;
            }
            .ajax-upload-dragdrop span {
                display: none;
            }
            .ajax-file-upload {
                width: 561px;
                height: 63px;
                background: #fff;
                border: 1px solid #80a2b5;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;  
            }
            .file-upload .data {
                width: 100%;
                text-align: center;
            }
            .courier {
                margin: 0 0 20px 0;
            }
            .file_label {
                font-size: 14px;
                line-height: 10px;
                font-family: 'dinpro-bold', sans-serif;
                color: #7f7f7f;
                font-weight: normal;
                padding: 0 0 0 10px;
            }
            .file_info {
                clear: both;
                font-size: 14px;
                line-height: 10px;
                font-family: 'dinpro-medium', sans-serif;
                color: #a0a0a0;
                padding: 10px 10px 10px 10px;
            }
            .file_info p {
                padding: 0;
                background: none;
            }
            .file_directions {
                display: inline-block;
                text-align: center;
                position: relative;
                top: 42px;
                z-index: 101;
                font-size: 14px;
                font-family: 'dinpro-medium', sans-serif;
                color: #80a2b5;
            }
            .file_directions span {
                color: #7f7f7f;
            }
            .uploaded-file {
                height: 65px;
                background: #80a2b5;
                text-align: center;
                line-height: 65px;
                color: #fff;
                width: 563px;
                font-family: 'dinpro-bold', sans-serif;
                font-size: 18px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;                 
            }
            .uploaded-file .delete-job-file {
            margin-left: 523px;
            }
            .saved-job .info p {
                color: #5a5a5a;
                font-size: 18px;
                font-family: 'dinpro', sans-serif;
                line-height: 30px;
                padding: 0;
            }
            .saved-job .info .edit {
                display: block;
                float: left;
                font-family: 'dinpro-bold', sans-serif;
                font-weight: normal;
                font-size: 18px;
                width: auto;
                height: 30px;
                line-height: 30px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                color: #618da5;
                background: none;
                margin-right: 42px;
            }
            .saved-job .info .delete {
                display: block;
                float: left;
                font-family: 'dinpro-bold', sans-serif;
                font-weight: normal;
                font-size: 18px;
                width: auto;
                height: 30px;
                line-height: 30px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                color: #618da5;
                background: none;
                margin-right: 42px;
            }
            .jobs-section h2 {
                font-family: 'dinpro-medium', sans-serif;
                font-size:24px;
                color: #5a5a5a;
                font-weight: normal;
                padding:0 0 20px 0;
                background: #eeeeee;
                line-height: 20px;
            }
            .saved-job .info h2 {
                font-size: 24px;
                padding: 15px 0 10px 0;
                background: #fff;
                border-top: 1px solid #eeeeee;
            }
            .jobs-section div.saved-job:first-of-type .info h2 {
                border-top: none;
                padding: 30px 0 10px 0;
            }
            div.jobs-section {
                width: 732px;
                background: #fff;
            }
            .saved-job .info .edit:hover, .saved-job .info .delete:hover {
                text-decoration: underline;
            }
            .jobs-section .info {
                padding: 0 25px 15px 53px;
            }
            .saved-job {
                margin: 0;
            }
            .checkout {
                width: 626px;
                background: #fff;
                padding: 0 53px 35px 53px;
            }
            .checkout .details {
                padding: 20px 0 0 0;
            }
            .checkout .price h2, .checkout .details h2 {
                background: #fff;
                font-size: 24px;
            }
            .checkout .price h2 {
                padding-top: 15px;
                border-top: 1px solid #eeeeee;
            }
            .checkout .price p, .checkout .details p {
                font-size: 18px;
                font-family: 'dinpro', sans-serif;
                padding: 0;
                color: #5a5a5a;
                line-height: 30px;
            }
            .checkout textarea {
                width: 539px;
                height: 150px;
                background: #fff;
                padding: 0;
                font-size: 18px;
                font-family: 'dinpro', sans-serif;
                color: #5a5a5a;
                line-height: 30px;
                border: none;
                overflow: auto;
                resize: none;
            }
            .checkout input[type=submit] {
                width: 223px;
                height: 46px;
                background: #618da5;
                font-size: 24px;
                line-height: 25px;
                color: #fff;
                font-family: 'dinpro-bold', sans-serif;
                font-weight: normal;
                text-align: center;
                text-transform: uppercase;
                border: none;
                display: block;
                margin: 30px auto 0 auto;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
            }
            .restore-pass fieldset {
                display: block;
                width: 223px;
                margin: 0 auto 0 140px;
            }
            .restore-pass input.submit {
                margin: 0 auto 0 140px;
            }
            .restore-pass .fff {
                width: 270px;
                margin: -12px auto 32px auto;
            }
            .forma-col .sections ul li.branded {
                background: #618da5;
            }
            .forma-col .sections ul li.antalis {
                background: #0e074e;
            }            
            .forma-col .sections ul li.branded a {
                color: #fff;
            }
            .forma-col .sections ul li.branded:hover {
                background: #618da5;
            }
            .forma-col .sections ul li.branded:hover a {
                color: #000;
            }
            .edit-userdata {
                display: block;
                font-size: 18px;
                font-family: 'dinpro-bold', sans-serif;
                text-transform: uppercase;
                color: #618da5;
            }
            .edit-userdata:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            
            
            /* PROGRAMMA */
            
            .pr_container {
                width: 988px;
                margin-top: 0;
                margin: 0 auto 83px auto;
            }
            .pr_line {
                background-color: #958b8b;
                margin-bottom: 0;
            }
            .pr_item {
                min-height: 220px;
            }
            .pr_time {
                border: none;
                color: #3c2829;
                font-family: 'dinpro-medium', sans-serif;
                font-size: 72px;
                font-weight: normal;
                height: 70px;
                line-height: 70px;
                margin-left: 25px;
                text-align: center;
                vertical-align: middle;
                width: 180px;
                position: absolute;
            }
            .pr_time_text {
                margin-top: 0;
            }
            .pr_time_text_offs {
                background-color: #3c2829;
                color: #fff;
                font-family: 'dinpro-bold', sans-serif;
                font-weight: normal;
                font-size: 18px;
                width: 223px;
                height: 37px;
                text-align: center;
                margin-top: 15px;
                margin-bottom: 38px;
                margin-left: 428px;
                padding-bottom: 0;
                padding-top: 0;
                text-decoration: none;
            }
            .pr_time_text_offs a {
                display: block;
                width: 223px;
                height: 37px;
                line-height: 36px;
                vertical-align: middle;
                overflow: hidden;
            }
            .pr_pic {
                margin-left: 258px;
                min-height: 0;
                position: static;
                padding-top: 40px;
                border-top: 1px solid #c7c3c3;
            }
            .pr_pic_texts {
                height: auto;
                margin-left: 170px;
                width: 560px;
                color: #291c36;
            }
            .pr_item_title {
                font-family: 'dinpro-medium', sans-serif;
                font-size: 24px;
                line-height: 30px;
                font-weight: normal;
                color: #5a5a5a;
            }
            .pr_item_subtitle, .pr_item_time {
                font-family: 'dinpro-bold', sans-serif;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #5a5a5a;
                margin-top: 5px;
            }
            .pr_item_time {
                margin-top: 0;
            }
            .pr_item_text {
                font-family: 'dinpro', sans-serif;
                font-size: 18px;
                line-height: 30px;
                margin-left: 428px;
                margin-top: 0;
                color: #5a5a5a;
                padding-bottom: 0;
            }
            
            div.datezone div:nth-of-type(2) .pr_pic, div.datezone div:nth-of-type(2) .pr_time {
                padding-top: 40px;
                border-top: none;
            }
            
            /* BALSOJUMS */
            
            .section h1 {
                display: block;
                left: 0;
                width: 100%;
                height: 43px;
                background: #e5e4e4;
                font-size: 24px;
                font-weight: normal;
                font-family: 'dinpro-bold', sans-serif;
                color: #3c2829;
                line-height: 41px;
                text-align: center;
                text-transform: uppercase;
                margin: 0;
                position: absolute;
                z-index: 100;
                transition: color, background 0.2s ease;
                -ms-transition: color, background 0.2s ease;
                -moz-transition: color, background 0.2s ease;
                -webkit-transition: color, background 0.2s ease;
            }
            .notrans {
                transition: none;
                -ms-transition: none;
                -moz-transition: none;
                -webkit-transition: none;
            }
            .section .active-title {
                color: #e5e4e4;
                background: #3c2829;
                
            }
            .section {
                width: 988px;
                margin: 0 auto;
                padding-bottom: 30px;
            }
            .section .jobs {
                padding-top: 80px;
                width: 988px;
            }
            .section .jobs .item {
                float: left;
                margin-right: 32px;
                width: 308px;
                position: static;
                display: block;
            }
            .section .jobs .item p.image {
                height: 163px;
                overflow: hidden;
            }
            .section .jobs div.work-row {
                position: static;
                display: block;
                width: 988px;
                box-sizing: content-box;
                height: auto;
                overflow: hidden;
            }
            .section .jobs div div:nth-of-type(3n) {
                margin-right: 0;
            }
            .section .jobs .title {
                font-size: 24px;
                font-family: 'dinpro-medium', sans-serif;
                color: #5a5a5a;
                font-weight: normal;
                line-height: 30px;
                max-height: none;
                overflow: hidden;
                text-transform: none;
                padding: 3px 0 35px 0;
            }
            .section .jobs .title a, .section .jobs .title a:hover {
                font-size: 24px;
                font-family: 'dinpro-medium', sans-serif;
                color: #5a5a5a;
                font-weight: normal;
                line-height: 30px;
            }
            
            /* VOTING POPUP */
            .voting-popup {
                width: 100%;
                padding-top: 28px;
                background: none;
                display: none;
                left: 0;
                margin-left: 0;
                min-height: 500px;
                position: absolute !important;
                pointer-events: none;
            }
            .voting-popup * {
                z-index: 104;
                pointer-events: auto;
            }
            .voting-popup .content {
                display: block;
                width: 988px;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                background: #eeeeee;
                padding-bottom: 30px;
            }
            .voting-popup .pop_media_img {
                overflow: hidden;
            }
            .voting-popup .pop_media_img img {
                display: block;
                margin: 0 auto;
            }
            .voting-popup .text-content {
                display: block;
                width: 818px;
                min-height: 260px;
                margin: 28px auto 50px auto;
                white-space: nowrap;
            }
            .voting-popup .text-content * {
                white-space: normal;
            }
            .voting-popup .content .left-side h2 {
                font-size: 24px;
                line-height: 30px;
                text-transform: none;
                font-family: 'dinpro-medium', sans-serif;
                color: #5a5a5a;
            }
            .voting-popup .content .left-side p {
                font-size: 18px;
                line-height: 30px;
                color: #5a5a5a;
                font-family: 'dinpro', sans-serif;
            }
            .voting-popup .close, .gallery-close {
                width: 988px;
                height: 32px;
                position: static;
                margin: 0 auto 30px auto;
                padding: 0;
                background: none;
            }
            .voting-popup .close a, .gallery-close a, .voting-feedback .close a {
                position: static;
                float: right;
                cursor: pointer;
                width: 32px;
                height: 32px;
                background: none;
                background-image: url('img/close-x.svg');
                background-repeat: no-repeat;
                margin: 0;
                padding: 0;
            }
            .vote-with h6 {
                font-size: 24px;
                font-weight: normal;
                font-family: 'dinpro-bold', sans-serif;
                height: 44px;
                width: 162px;
                padding-top: 0;
                cursor: pointer;
                text-align: center;
                line-height: 44px;
                text-transform: uppercase;
                color: #fff;
                background: #618da5;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                margin: 0 auto;
            }
            .vote-with h6.balsot_rest {
                font-size: 18px;
                line-height: 30px;
                width: 222px;
                height: auto;
                cursor: default;
            }
            .voting-popup .buttons p, #voter {
                font-weight: normal;
                font-size: 30px;
                font-family: 'dinpro-bold', sans-serif;
                color: #618da5;
                text-align: center;
                height: 40px;
                line-height: 40px;
                margin-bottom: 20px;
            }

            .voting-popup .weak {
                position: absolute;
                margin-left: -16px;
            }
            .vote-with {
                width: 100%;
                float: left;
                margin: 0;
            }
            .voting-popup .buttons .voting-star {
                display: block;
                margin: 0 auto 10px auto;
                clear: both;
                background-image: url('img/voting-star.png');
                width: 53px;
                height: 51px;
            }
            .voting-popup .buttons .full-star {
                background-image: url('img/voting-star-full.png');
            }
            .voting-popup .media {
                width: 818px;
                margin: 0 auto;
                padding-top: 70px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .voting-popup .content .left-side {
                float: none;
                display: inline-block;
                width: 563px;
                height: 100%;
                margin: 0;
                padding-right: 32px;
                height: 100%;
                vertical-align: top;
            }
            .voting-popup .content .right-side {
                float: none;
                display: inline-block;
                width: 222px;
                margin: 0;
                min-height: 260px;
                border-left: 1px solid #d8d8d8;
                vertical-align: top;
            }
            .voting-popup .voting-text {
                font-size: 18px;
                font-family: 'dinpro-bold', sans-serif;
                font-weight: normal;
                color: #5a5a5a;
                line-height: 30px;
                text-align: center;
                padding-bottom: 20px;
            }
            .container .content .bottom {
                margin: 0 auto;
                height: auto;
                width: 818px;
            }
            .voting-popup .work-media {
                display: inline-block;
                width: 393px;
                height: 206px;
                margin-bottom: 24px;
                vertical-align: top;
                cursor: pointer;
            }
            .voting-popup .bottom div:nth-child(odd) {
                margin-right: 32px;
            }
            .voting-popup .work-media img {
                max-width: 393px;
                max-height: 206px;
                display: block;
                float: right;
            }
            .voting-popup .bottom div:nth-child(even) img {
                float: left;
            }
            .container .navi-right {
                position: fixed;
                top: 320px;
                right: calc(50% - 512px);
                z-index: 105;                
                background-image: none;
                cursor: pointer;
                margin: 0;
                width: 48px;
                height: 100px;
            }
            .container .navi-left {
                position: fixed;
                top: 320px;
                left: calc(50% - 512px);
                z-index: 105;                
                background-image: none;
                cursor: pointer;
                margin: 0;
                width: 48px;
                height: 100px;
            }
            .container .navi-right a {
                display: block;
                background-image: url('img/jury-right.svg');
                background-repeat: no-repeat;
                height: 100px;
                width: 48px;
            }
            .container .navi-left a {
                display: block;
                background-image: url('img/jury-left.svg');
                background-repeat: no-repeat;
                height: 100px;
                width: 48px;                
            }
            .overlay {
                z-index: 102;
            }
            .social-share {
                display: block;
                width: 260px;
                margin: 10px auto 0 auto;
                text-align: center;
            }
            .social-share div{
                display: inline-block;
            }
            #work-fb-share {
                display: inline-block;
                width: 55px;
                height: 20px;
                background-image: url('img/fb_share.png');
                background-repeat: no-repeat;
                cursor: pointer;
                margin: 0 10px;
            }
            #work-fb-share:hover {
                background-image: url('img/fb_share_hover.png');
            }
            .voting-feedback {
                display: none;
                position: fixed;
                top: 0;
                width: 100%;
                height: 300px;
                z-index: 104;
            }
            .voting-feedback .vf-content {
                width: 988px;
                text-align: center;
                margin: 0 auto;
            }
            .voting-feedback .bigstar {
                width: 116px;
                height: 110px;
                background-image: url('img/feedback-star.png');
                margin: 30px auto 0 auto;
            }
            .voting-feedback h3 {
                font-size: 24px;
                font-weight: normal;
                font-family: 'dinpro-bold', sans-serif;   
                color: #fff;
                line-height: 23px;
                margin: 30px 0;
            }
            .voting-feedback .feedback-return {
                font-size: 18px;
                font-weight: normal;
                font-family: 'dinpro-bold', sans-serif;
                color: #618da5;
                text-decoration: none;
                line-height: 20px;
            }
            .voting-feedback .feedback-return:hover {
                border-bottom: 1px solid #618da5;
            }
            .voting-feedback .close {
                padding: 48px 0 30px 0;
            }
            /* GALERIJA */
            .gallery-popup {
                display: none;
                z-index: 106;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            .gallery-content * {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .gallery-overlay {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #4b6878;
            }
            .gallery-popup .gallery-content {
                z-index: 107;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding-top: 48px;
            }
            .gallery-popup .gallery-pic {
                display: none;
                height: 428px;
                width: 818px;
                margin: 0 auto;
                line-height: 428px;
                text-align: center;
                overflow: hidden;
            }
            .gallery-popup .gallery-pic > * {
                display: inline-block;
                vertical-align: middle;
            }
            .gallery-popup .dots {
                display: block;
                height: 22px;
                width: auto;
                margin-top: 39px;
                text-align: center;
            }
            .pic-dot {
                display: inline-block;
                width: 22px;
                height: 22px;
                background-image: url('img/pic-dot-empty.png');
                background-repeat: no-repeat;
                cursor: pointer;
                margin: 0 15px;
                
            }
            .fulldot {
                background-image: url('img/pic-dot-full.png');
            }
            .gallery-popup .gallery-close {
                height: 82px;
            }
            .gallery-popup .prev-arrow {
                position: absolute;
                display: block;
                width: 17px;
                height: 66px;
                background-image: url('img/prev-arrow.png');
                background-repeat: no-repeat;
                top: 313px;
                left: calc(50% - 476px);
                cursor: pointer;

            }
            .gallery-popup .next-arrow {
                position: absolute;
                display: block;
                width: 17px;
                height: 66px;
                background-image: url('img/next-arrow.png');
                background-repeat: no-repeat;
                top: 313px;
                right: calc(50% - 476px);
                cursor: pointer;
            }
            .vote-with ul {
                display: block;
                margin: 0 0 0 30px;
                padding-top: 8px;
                background: none;
            }
            .vote-with ul li {
                overflow: hidden;
                height: 44px;
                background: none;
            }
            .vote-with ul li img {
                margin-left: -51px;
            }
            
            .vote_fb a, .vote_dr a {
                display: block;
                background: #465f9f;
                height: 44px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                width: 162px;
                color: #fff;
                font-size: 18px;
                font-family: 'dinpro-bold', sans-serif;
                font-weight: normal;
                line-height: 44px;
            }
            .vote_dr a {
                background: #ff6800;
            }
            .vote_dr {
                padding-top: 8px;
            }
            
            /* */
            .sponsors div.sponsor-links {
            width: 988px;
            height: 364px;
            position: absolute;
            margin-top: -364px;
            background-image: none;
            background-size: cover;
            overflow: hidden;
            z-index: 1;
            }
            .sponsor-links a {
                display: inline-block;
                position: relative;
                overflow: auto;
            }
            
            /* POPUP ANIMS */
            .gallery-close a, .close a {
                  -webkit-transition: transform 200ms ease-out;
                    -moz-transition: transform 200ms ease-out;
                      -o-transition: transform 200ms ease-out;
                         transition: transform 200ms ease-out;
            }
            .gallery-close a:hover, .close a:hover {
                -moz-transform: rotate(90deg) ;
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform:rotate(90deg);
            }

            .jury-right a, .navi-right a, .jury-left a, .navi-left a, .next-arrow, .prev-arrow {
                    -webkit-transition: transform 100ms ease-out;
                    -moz-transition: transform 100ms ease-out;
                      -o-transition: transform 100ms ease-out;
                         transition: transform 100ms ease-out;
            }
            .jury-right a:hover, .navi-right a:hover, .jury-left a:hover, .navi-left a:hover, .next-arrow:hover, .prev-arrow:hover {
                -moz-transform: scale(1.1,1.1);
                -o-transform: scale(1.1,1.1);
                -ms-transform: scale(1.1,1.1);
                -webkit-transform: scale(1.1,1.1);
                transform:scale(1.1,1.1);
            }
            
            
            /* BIG VIDEO */
            #big-video-wrap {
                display: none;
            }
            
            /* WINNERS */
            
            .year-nav {
                top: -42px;
            }
            .year-nav ul li {
                font-size: 18px;
                font-family: 'dinpro', sans-serif;
            }
            
            .overlaid-img {
                display: block;
                position: relative;
                height: 163px;
            }
            .img-overlay {
                display: block;
                position: absolute;
                background: rgba(60,40,41,0.7);
                top: 0;
                width: 308px;
                height: 163px;
                overflow: hidden;
                text-align: center;
                -webkit-transition: opacity 200ms ease-out;
                    -moz-transition: opacity 200ms ease-out;
                      -o-transition: opacity 200ms ease-out;
                         transition: opacity 200ms ease-out;
            }
            .grandprix-itm .img-overlay {
                width: 648px;
                height: 343px;
            }
            .img-overlay:hover {
                opacity: 0;
            }
            .award-sm {
                width: 95px;
                height: 89px;
                display: block;
                margin: 22px auto 12px auto;
            }
            .award-lg {
                width: 188px;
                height: 183px;
                display: block;
                margin: 48px auto 28px auto;
            }
            .award-title {
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'dinpro-bold', sans-serif;
                font-weight: normal;
                font-size: 18px;
                color: #fff;
                display: inline-block;
            }
            .grandprix-itm .award-title {
                font-size: 24px;
            }
            .ttl-centered {
                position: relative;
                top: calc(50% - 10px);
            }
            .section div.award-itm p.title {
                padding: 3px 0 0 0;
            }
            .section .jobs .grandprix-itm {
                width: 648px;
                float: none;
                margin: 0 auto;
            }
            .section .jobs .grandprix-itm p.image {
                height: 343px;
            }
            .involved-ppl {
                font-size: 14px;
                font-family: 'dinpro-medium', sans-serif;
                font-weight: normal;
                line-height: 20px;
                padding: 5px 0 35px 0;
            }
            .grandprix-itm .involved-ppl {
                padding: 5px 0 15px 0;
            }
            .involved-ppl .role {
                font-family: 'dinpro-bold', sans-serif;
            }
            .awards-section .jobs {
                min-height: 0;
            }
            .page > div.awards-section:first-of-type {
                margin-top: -34px;
            }
            .awards-section {
                padding-bottom: 20px;
            }
            
            .pop01 {
                display: none;
                min-height: 350px;
            }
            .pop01 .media > * {
                display: block;
                margin: 0 auto;
            }
            .pop01 .title {
                font-weight: normal;
                font-size: 24px;
                font-family: 'dinpro-medium', sans-serif;
            }
            .pop01 .text-content {
                min-height: 0;
                margin: 22px auto 0 auto;
            }
            
            .too-late {
                font-family: 'dinpro-medium', sans-serif;
                color: #cc0000;
                display: block;
                margin: 10px auto;
                display: none;
                width: 520px;
                text-align: center;
            }
            
            .ajax-loader {
                display: block;
                padding-top: 150px;
                margin: 0 auto;
            }
            .stream-container {
                position: relative;
                display: block;
                width: 986px;
                margin: 0 auto;
            }
            .countdown-overlay {
                display: block;
                position: absolute;
                width: 986px;
                height: 555px;
                top: 0;
                left: 0;
                background: rgba(0,0,0,0.85);
            }
            .countdown-overlay .message, .countdown-overlay .time {
                text-transform: uppercase;
                font-family: 'dinpro-bold', sans-serif;
                font-size: 36px;
                color: #fff;
                display: block;
                width: 500px;
                text-align: center;
                margin: 150px auto 0 auto;
            }
            .countdown-overlay .time {
                margin: 50px auto 0 auto;
                font-size: 72px;
                text-transform: none;
            }
            
            .news-content .pr_pic {
                margin-left: 0;
            }
            .news-content .pr_item_text {
                margin-left: 170px;
            }