.ins_scroll{
	/*height:258px;*/
	height:auto;
}

.jobs{
	width:952px !important;
	height:auto;
}

.jspVerticalBar{
	display:none;
}

.jspDrag{
	height:10px !important;
	background-color:#291c36;
}

.jspHorizontalBar{
	height:10px;
}

.jspTrack{
	background-color:#a1a1a1;	
}

.horizontal-only{
	height: auto;
}

.jspPane{
	/*height:275px !important;*/
}

.section{
    margin: 500 auto 0 auto;
    padding: 0;
    width: 952px;
}



.section .jobs .title {
    font-size: 25px;
    line-height: 31px;
    max-height: 95px;
    overflow: hidden;
    text-transform: uppercase;
}

.section .jobs .item {
    float: left;
    margin-right: 50px;
    width: 284px;
    /*height:248px;*/
}


.section .jobs {
	height:auto;
    min-height: 300px;
    overflow: hidden;
    width: 1100px;
}

.clamper{
	max-height:95px;
	overflow: hidden;
}

.clampdots{
	display:none;
}

.container {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    left: 50%;
    margin-left: -502px;
    min-height: 500px;
    position: absolute !important;
    top: 65px;
    width: 1005px;
    z-index: 102;
}

.container .content .bottom {
    clear: both;
    height: 70px;
    width: 1005px;
}


.pop00{
	display:none;
}


.container .navi-left {
	background-image: url("img/pop_ll.png");
    cursor: pointer;
    margin: 3px 0 0 -155px;
    position: absolute;
    width: 156px;
    height: 573px;
}

.container .navi-right {
	background-image: url("img/pop_rr.png");
    cursor: pointer;
    margin: 7px 0 0 1005px;
    position: absolute;
    width: 156px;
    height: 573px;
}


.bottom .buttons ul li a {
	display: block;
	width: 17px;
	height: 17px;
	background-image: url(img/dots13.png) !important;
}
							
.bottom .buttons ul li a:hover, .bottom .buttons ul li a.ac {
	background-image: url(img/dots13a.png)  !important;
}


.vote-with h6 {
 font-size: 22px;
    height: 39px;
    padding-top: 15px;
    cursor:auto;
}

div#countdown, div#countdown-message {
    display:block;
    width: 30%;
    text-align: center;
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    left: 35%;
    top: 48%;
}
div#countdown-message {
    font-size: 42px;
    width: 50%;
    left: 25%;
    top: 40%;
}
